{% load bootstrap4 %}
{% load tags %}

{{ form.media }}
<form action="{{ action }}" method="post" id="data-entry-form" enctype="multipart/form-data">{% csrf_token %}
  {% bootstrap_form form exclude='file,team_file,judge_file,room_file,scratch_file' %}

  {% for field in form %}
    {% if field|is_file_field %}
      {% include "common/_file_field.html" %}
    {% endif %}
  {% endfor %}

  {% csrf_token %}
  {% buttons %}
    <input type="submit" value="Save" class="btn btn-primary"/>
    {% if delete_link %}
      <a href="{{ delete_link }}" class="btn btn-danger"
         onclick="return confirm('Are you sure you want to delete this?');">Delete</a>
  {% endif %}
  {% endbuttons %}
</form>
