{% extends "base/__normal.html" %}
{% load tags %}

{% block title %} {{title}} {% endblock %}
{% block banner %} {{title}} {% endblock %}

{% block content %}
<div class="col-md-6">
  <form method="post" action=""> {% csrf_token %}
    {% for form, delete in forms %}
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="float-start">{{data_type}} #{{ form.prefix }}</h5>
        {% if delete %}
          <a class="btn btn-sm float-end btn-outline-danger"
             confirm="Are you sure?"
             href="{{delete}}">
            <i class="fas fa-times"></i>
          </a>
        {% endif %}
      </div>
      <div class="card-body">
        {% for field in form %}
          <div class="mb-3">
            {{ field|bs5_field }}
          </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}

    {% if forms %}
    <input type="submit" class="btn btn-primary" value="Submit"/>
    {% else %}
    <p class="text-center lead">No scratches</p>
    {% endif %}
  </form>
</div>
{% endblock %}