{% extends "base/__wide.html" %}
{% load tags %}

{% block title %}Data Entry{% endblock %}

{% block banner %} {{title}} {% endblock %}

{% block content %}
<div class="col">
  {% quick_search %}
  <div class="data-list">
    <ul class="list_item">
      {% if item_type == "judge" %}
        {% for id, name, flags, symbols, rank in item_list %}
            <li class="searchable filterable {% if forloop.counter0|divisibleby:2 %}even{%else%}odd{%endif%}" data-filters="{{flags}}" data-rank="{{rank}}">
              <a class="no_decoration" href="/{{item_type}}/{{id}}">{{name}} <span class="item-detail" data-code="{{symbols}}" data-rank="({{rank}})">{{symbols}}</span></a>
            </li>
        {% endfor %}
      {% else %}
        {% for item in item_list %}
          {% with id=item.0 name=item.1 flags=item.2 symbols=item.3 %}
            <li class="searchable filterable {% if forloop.counter0|divisibleby:2 %}even{%else%}odd{%endif%}" data-filters="{{flags}}">
                <a class="no_decoration" href="/{{item_type}}/{{id}}">
                  {{name}} {{symbols}}
                  {% if item|length > 4 and item.4 %}
                    <span class="ranking-badges ml-2">
                      {% for badge in item.4 %}
                        <span class="badge badge-secondary badge-pill mr-1">{{ badge }}</span>
                      {% endfor %}
                    </span>
                  {% endif %}
                </a>
            </li>
          {% endwith %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>

{% if filters %}
<div class="col-4">
  <div class="card mb-2">
    <div class="card-header">Quick Filters</div>
    <div class="card-body">
      {% if item_type == "judge" %}
      <div class="mb-3">
        <button class="btn btn-sm btn-primary" id="toggle-judge-display">Show Rank</button>
      </div>
      {% endif %}
      <ul class="list-group">
        {% for filter_group in filters %}
          {% for key, value in filter_group %}
            <li class="list-group-item">
              <div class="form-check">
                <input class="form-check-input filter" type="checkbox" value="{{value}}"
                      id="filter-{{key}}"
                      data-filter-group="{{forloop.parent.counter}}"
                      data-filter="{{key}}"/>
                <label class="form-check-label" for="filter-{{key}}">
                  {{value}}
                </label>
              </div>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>

      {% if symbol_text%}
        <div class="symbol-legend mt-4">
          {% for key, value in symbol_text %}
          <span>{{key}}<small class="text-muted"> = {{value}}</small></span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}


<div class="clear"></div>

<div class="clear"></div>
{% endblock %}
