div.printable {
    width: 7in;
    margin-bottom: 2em;
}

table#pairing_list {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #666666;   
}

table#pairing_list th{
    border: 1px solid #666666;   
    padding: .5em;
    font-size: 18px;
    font-style: bold;
}
table#pairing_list td{
    border: 1px solid #666666;   
    padding: .5em;
    font-size: 14px;
}

.page_break_after {
    page-break-after: always;
}

#progressbar {
    margin-bottom: 2em;
}

.center {
    text-align: center;
}
