<!DOCTYPE html>

{% load tags %}

<html>
    <head>
	<script src="https://code.jquery.com/jquery-1.9.1.min.js" 
		integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" 
		crossorigin="anonymous"></script>
	
	{% load render_bundle from webpack_loader %}
	{% render_bundle 'publicDisplay' %}

	<title>Judge List</title>
    </head>
    <body>
        <div id="scrollPage" class="hidden"></div>	
	<div class="public_header">
	    <h1>Judge List</h1>
	    <table class="public_table">
		<tr>
		    <th style="width: 25%;">Name</th>
		    <th style="width: 40%;">Affiliations</th>
		    {% for round in rounds %}
			<th>R{{ round }}</th>
		    {% endfor %}
		</tr>
	    </table>
	</div>
	<div class="public_header_spacer"></div>
	<table class="public_table">
	    {% for judge in judges %}
		<tr>
		    <td style="width: 25%;">{{ judge.name }}</td>
		    <td style="width: 40%;">{{ judge.affiliations_display }}</td>
		    {% for round in rounds %}
			<td>{% if judge|is_checked_in:round %}&#10004;{% else %}X{% endif %}</td>
		    {% endfor %}
		</tr>
	    {% endfor %}
	</table>
        <div class="pairings_footer_spacer"></div>
	<div class="public_footer">
            <a href="/" class="home-link">Home</a>
            <span class="right">
		<label for="autoscroll">
                    Autoscroll:
                    <input type="checkbox" name="autoscroll" id="autoscroll" checked/>
		</label>
            </span>
	</div>	
    </body>
</html>
