<!DOCTYPE html>

<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js" 
                integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" 
                crossorigin="anonymous"></script>
        
        {% load render_bundle from webpack_loader %}
        {% render_bundle 'publicDisplay' %}

        <title>Team List</title>
    </head>

    <body>
        <div id="scrollPage" class="hidden"></div>

        <div class="public_header">
            <h1>Team List</h1>
            <h3>({{ num_checked_in }} checked in)</h3>
            <table class="public_table">
                <tr>
                    <th style="width: 25%;">Team Name</th>
                    <th style="width: 15%;">School</th>
                    <th style="width: 15%;">Hybrid School</th>
                    <th style="width: 30%;">Debaters</th>
                    <th style="width: 15%;">Checked In</th>
                </tr>
            </table>
        </div>

        <div class="public_header_spacer"></div>

		<table class="public_table">
			{% for team in teams %}
			<tr>
				<td style="width: 25%;">{{ team.display }}</td>
				<td style="width: 15%;">{{ team.school.display }}</td>
				<td style="width: 15%;">{{ team.hybrid_school.name }}</td>
				<td style="width: 30%;">{{ team.debaters_display }}</td>
				<td style="width: 15%;">{{ team.checked_in|yesno:"Yes,No" }}</td>
			</tr>
			{% endfor %}
		</table>

        <div class="pairings_footer_spacer"></div>

		<div class="public_footer">
            <a href="/" class="home-link">Home</a>
            <span class="right">
				<label for="autoscroll">
					Autoscroll:
					<input type="checkbox" name="autoscroll" id="autoscroll" checked/>
				</label>
			</span>
		</div>
    </body>
</html>
