{% extends "base/__wide.html" %}
        {% load render_bundle from webpack_loader %}

{% block title %}Team List{% endblock %}
{% block extra_head %}
        {% render_bundle 'publicDisplay' %}
{% endblock %}

{% block content %}
<div class="col-12">
        <div id="scrollPage" class="hidden"></div>

            <h1>Team List</h1>
            <h3>({{ num_checked_in }} of {{ teams|length }} teams checked in)</h3>
            <table class="public_table">
                <thead>
                <tr>
                    <th style="width: 25%;">Team Name</th>
                    <th style="width: 15%;">School</th>
                    <th style="width: 15%;">Hybrid School</th>
                    <th style="width: 30%;">Debaters</th>
                    <th style="width: 15%;">Checked In</th>
                </tr>
            </thead>
            <tbody>
			{% for team in teams %}
			<tr>
				<td style="width: 25%;">{{ team.display }}</td>
				<td style="width: 15%;">{{ team.school.display }}</td>
				<td style="width: 15%;">{{ team.hybrid_school.name }}</td>
				<td style="width: 30%;">{{ team.debaters_display }}</td>
				<td style="width: 15%;">{{ team.checked_in|yesno:"Yes,No" }}</td>
			</tr>
			{% endfor %}
            </tbody>
		</table>

        <div class="public_footer_spacer"></div>

		<div class="public_footer">
            <span class="right footer-controls">
				<label for="autoscroll">
					Autoscroll:
					<input type="checkbox" name="autoscroll" id="autoscroll"/>
				</label>
			</span>
		</div>
</div>
{% endblock %}
