MYSQL_DATABASE=mittab
MYSQL_USER=root
MYSQL_HOST=localhost

# to be overridden in .env
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# defined in the docker-compose file
MITTAB_DB_HOST=127.0.0.1

DEBUG=1
# deployed "test" tournaments use "test-deployment"
# production tournaments use "production"
MITTAB_ENV=development
TOURNAMENT_NAME="TEST-TOURNAMENT"

# Amazon SES / Email
AWS_SES_REGION="us-east-1"
AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
AWS_SES_CONFIGURATION_SET=
EMAIL_FROM_ADDRESS="no-reply@apda.online"
EMAIL_FROM_NAME="MIT-TAB"
