language: python
python:
  - "3.4"
# command to install dependencies
install:
 - "pip3 install ."
 - "pip3 install -r requirements.txt"
# command to run tests
script:
  - ./bin/setup testpassword
  - travis_wait 25 coverage run --source=. manage.py test
