[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nplusone = "*"

[packages]
haikunator = "==2.1"
mock = "==1.0.1"
boto3 = "==1.40.42"
charset-normalizer = "==3.4.3"
coverage = "==7.10.7"
django-bootstrap4 = "==3.0.0"
django-webpack-loader = "==3.2.1"
django-silk = "==5.2.0"
gunicorn = "==23.0.0"
mysqlclient = "==1.4.4"
xlrd = "==0.9.4"
xlwt = "==1.3.0"
pylint = "==3.3.9"
pylint-django = "==2.6.1"
pytest = "==7.4.2"
pytest-circleci-parallelized = "==0.0.4"
pytest-cov = "==4.1.0"
pytest-django = "==4.8.0"
requests = "==2.31.0"
selenium = "==4.15.2"
splinter = "==0.19.0"
Django = "==3.2.25"
sentry-sdk = {extras = ["django"], version = "==2.39.0"}
six = "==1.17.0"
exceptiongroup = "==1.3.0"
wrapt = "==1.17.3"
pyyaml = "==5.3.1"

[requires]
python_version = "3.10.16"
