<head>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js" 
          integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" 
          crossorigin="anonymous"></script>
  
  {% load render_bundle from webpack_loader %}
  {% render_bundle 'main' 'js' %}

  <style>
div.printable {
    width: 7in;
    margin-bottom: 2em;
}

table#pairing_list {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #666666;
}

table#pairing_list th{
    border: 1px solid #666666;
    padding: .5em;
    font-size: 18px;
    font-style: bold;
}
table#pairing_list td{
    border: 1px solid #666666;
    padding: .5em;
    font-size: 14px;
}

.page_break_after {
    page-break-after: always;
}

.center {
    text-align: center;
}
  </style>
</head>

{% for team in all_teams %}
<h3>Team: {{ team.display_backend }}</h3>
<div class="printable tab_card_item {% if forloop.counter|divisibleby:2 %}page_break_after{% endif %}" data-team-id={{team.id}}>
  <small>Loading...</small>
</div>

{% endfor %}

