{% extends "base/__normal.html" %}
{% load tags %}

{% block title %}Judge Check-In{% endblock %}
{% block banner %}Batch Judge Check-In{% endblock %}

{% block content %}
{% csrf_token %}

<div class="col">
  {% quick_search %}

  <table class="table table-striped table-bordered table-sm">
    <thead>
      <th>Judge</th>
      {% for round_number in round_numbers %}<th>Round {{ round_number }}</th>{% endfor %}
    </thead>
    {% for judge, checkins in judges_and_checkins %}
    <tr class="searchable">
      <td>
        <a href="/judge/{{judge.id}}">{{ judge.name }}</a>
      </td>
      {% for is_checked_in in checkins %}
      <td>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input checkin-toggle"
                 data-judge-id="{{judge.id}}"
                 data-round-number="{{forloop.counter}}"
                 id="toggle-{{ judge.id }}-{{ forloop.counter }}"
                 {% if is_checked_in %}checked{% endif %}>
          <label class="custom-control-label" for="toggle-{{ judge.id }}-{{ forloop.counter }}">
            Checked {% if is_checked_in %}In{% else %}Out{% endif %}
          </label>
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
