<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Post</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        table, th, td {
            border: 1px solid black;
            padding: 1px;
        }
    </style>
</head>
<body>
    <p>Thank you for a great tournament!{% if dino_string %} Special thanks to our dinos: {{ dino_string }}.{% endif %} We had {{ team_count}} teams and {{novice_count}} novices participate for at least 3 rounds.</p>

    <br>
    Novice Speaker Awards:
    <table>
        <thead>
          <th>#</th>
          <th>Name</th>
          <th>Speaks</th>
          <th>Ranks</th>
          <th>Team</th>
          <th title="Tiebreaker between the debater and the next-best debater">Tiebreaker</th>
        </thead>
        {% for debater, speaks, ranks, team, tiebreaker in nov_debaters %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a>{{ debater.name }}</a></td>
          <td>{{ speaks|floatformat:2 }}</td>
          <td>{{ ranks|floatformat:2 }}</td>
          <td> <a >{{ team.name }}</a></td>
          <td>{{ tiebreaker }}</td>
        </tr>
        {% endfor %}
      </table>


    <br>
    <table>
      Varsity Speaker Awards:
      <thead>
        <th>#</th>
        <th>Name</th>
        <th>Speaks</th>
        <th>Ranks</th>
        <th>Team</th>
        <th title="Tiebreaker between the debater and the next-best debater">Tiebreaker</th>
      </thead>
      {% for debater, speaks, ranks, team, tiebreaker in varsity_debaters %}
      <tr>
        <td> {{ forloop.counter }} </td>
        <td> <a>{{ debater.name }}</a></td>
        <td> {{ speaks|floatformat:2 }}</td>
        <td> {{ ranks|floatformat:2 }}</td>
        <td> <a>{{ team.name }}</a></td>
        <td>{{ tiebreaker }}</td>
      </tr>
      {% endfor %}
    </table>

    <br>
    Novice Breaking Teams:
    <table class="table table-striped table-sm table-bordered">
        <thead>
          <th>#</th>
          <th>Team Name</th>
          <th>Wins</th>
          <th>Speaks</th>
          <th>Ranks</th>
          <th title="Tiebreaker between the team and the next-best team">Tiebreaker</th>
        </thead>
        {% for team, wins, speaks, ranks, tiebreaker in novice_teams %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a>{{ team.display_backend }}</a></td>
            <td>{{ wins }}</td>
            <td>{{ speaks|floatformat:2 }}</td>
            <td>{{ ranks|floatformat:2 }}</td>
            <td>{{ tiebreaker }}</td>
        </tr>
        {% endfor %}
      </table>

    <br><br>

    Novice Results:
    {% include "outrounds/forum_result.html" with results=novice_outs%}

    <br><br>

    Varsity Breaking Teams:
    <table class="table table-striped table-sm table-bordered">
        <thead>
          <th>#</th>
          <th>Team Name</th>
          <th>Wins</th>
          <th>Speaks</th>
          <th>Ranks</th>
          <th title="Tiebreaker between the team and the next-best team">Tiebreaker</th>
        </thead>
        {% for team, wins, speaks, ranks, tiebreaker in varsity_teams %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a>{{ team.display_backend }}</a></td>
            <td>{{ wins }}</td>
            <td>{{ speaks|floatformat:2 }}</td>
            <td>{{ ranks|floatformat:2 }}</td>
            <td>{{ tiebreaker }}</td>
        </tr>
        {% endfor %}
      </table>

    <br><br>
    Varsity Results:
    {% include "outrounds/forum_result.html" with results=varsity_outs%}
    
    <br> 
    {% if novice_champ %}

    <h3>Congratulations to the Novice Champions: {{ novice_champ.display_backend }}</h3>
    {% endif %}

    <br>
    {% if varsity_champ %}
    <h3>Congratulations to the Varsity Champions: {{ varsity_champ.display_backend }}</h3>
    {% endif %}

</body>
</html>