{% extends "base/__normal.html" %}
{% block title %}Forum Post{% endblock title %}
{% block banner %}Tournament Results{% endblock banner %}
{% block content %}

<div class="container-fluid">
  <div class="w-100 mt-4 mb-4">
    <p class="lead">Thank you for a great tournament!
      {% if dinos %} 
        Special thanks to our dino{% if dinos|length > 1 %}s{% endif %}: 
        {% for dino in dinos %}
          {% if forloop.last and not forloop.first %}and {% endif %}{{ dino }}{% if not forloop.last and dinos|length > 2 %}, {% endif %}{% endfor %}.
      {% endif %} 
      We had <strong>{{ team_count}} teams</strong> and <strong>{{novice_count}} novices</strong> participate for at least 3 rounds.</p>
  </div>

  {% if nov_debaters %}
  <div class="w-100 mt-4">
    <h4 class="mb-3">Novice Speaker Awards</h4>
    <table class="table table-striped table-sm table-bordered table-hover">
      <thead class="thead-dark">
        <th>#</th><th>Name</th><th>Speaks</th><th>Ranks</th><th>Team</th><th>Tiebreaker</th>
      </thead>
      <tbody>
      {% for debater, speaks, ranks, team, tiebreaker in nov_debaters %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a>{{ debater.name }}</a></td>
        <td>{{ speaks|floatformat:2 }}</td>
        <td>{{ ranks|floatformat:2 }}</td>
        <td> <a >{{ team.name }}</a></td>
        <td>{{ tiebreaker }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  {% if varsity_debaters %}
  <div class="w-100 mt-4">
    <h4 class="mb-3">Varsity Speaker Awards</h4>
    <table class="table table-striped table-sm table-bordered table-hover">
      <thead class="thead-dark">
        <th>#</th><th>Name</th><th>Speaks</th><th>Ranks</th><th>Team</th><th>Tiebreaker</th>
      </thead>
      <tbody>
      {% for debater, speaks, ranks, team, tiebreaker in varsity_debaters %}
      <tr>
        <td> {{ forloop.counter }} </td>
        <td> <a>{{ debater.name }}</a></td>
        <td> {{ speaks|floatformat:2 }}</td>
        <td> {{ ranks|floatformat:2 }}</td>
        <td> <a>{{ team.name }}</a></td>
        <td>{{ tiebreaker }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  {% if novice_teams %}
  <div class="w-100 mt-4">
    <h4 class="mb-3">Novice Breaking Teams</h4>
    <table class="table table-striped table-sm table-bordered table-hover">
      <thead class="thead-dark">
        <th>#</th><th>Team Name</th><th>Wins</th><th>Speaks</th><th>Ranks</th><th>Tiebreaker</th>
      </thead>
      <tbody>
      {% for team, wins, speaks, ranks, tiebreaker in novice_teams %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a>{{ team.display_backend }}</a></td>
        <td>{{ wins }}</td>
        <td>{{ speaks|floatformat:2 }}</td>
        <td>{{ ranks|floatformat:2 }}</td>
        <td>{{ tiebreaker }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  {% if novice_outs %}
  <div class="w-100 mt-4">
    <h4 class="mb-3">Novice Results</h4>
    {% include "outrounds/forum_result.html" with results=novice_outs%}
  </div>
  {% endif %}

  {% if varsity_teams %}
  <div class="w-100 mt-4">
    <h4 class="mb-3">Varsity Breaking Teams</h4>
    <table class="table table-striped table-sm table-bordered table-hover">
      <thead class="thead-dark">
        <th>#</th><th>Team Name</th><th>Wins</th><th>Speaks</th><th>Ranks</th><th>Tiebreaker</th>
      </thead>
      <tbody>
      {% for team, wins, speaks, ranks, tiebreaker in varsity_teams %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a>{{ team.display_backend }}</a></td>
        <td>{{ wins }}</td>
        <td>{{ speaks|floatformat:2 }}</td>
        <td>{{ ranks|floatformat:2 }}</td>
        <td>{{ tiebreaker }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

  {% if varsity_outs %}
  <div class="w-100 mt-4">
    <h4 class="mb-3">Varsity Results</h4>
    {% include "outrounds/forum_result.html" with results=varsity_outs%}
  </div>
  {% endif %}

  {% if novice_champ %}
  <div class="w-100 mt-5 mb-4">
    <h3 > Congratulations to the Novice Champions: <strong>{{ novice_champ.display_backend }}</strong></h3>
  </div>
  {% endif %}

  {% if varsity_champ %}
  <div class="w-100 mt-5 mb-4">
    <h3> Congratulations to the Varsity Champions: <strong>{{ varsity_champ.display_backend }}</strong></h3>
  </div>
  {% endif %}
</div>

{% endblock %}