<div class="col-6">
  <h5 class="text-center">Varsity Ranking</h5>
  <table class="table table-striped table-sm table-bordered">
    <thead>
      <th>#</th>
      <th>Team Name</th>
      <th>Wins</th>
      <th>Speaks</th>
      <th>Ranks</th>
      <th title="Tiebreaker between the team and the next-best team">Tiebreaker</th>
    </thead>
    {% for team, wins, speaks, ranks, tiebreaker in varsity %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/team/{{ team.id }}">{{ team.display_backend }}</a></td>
        <td>{{ wins }}</td>
        <td>{{ speaks|floatformat:2 }}</td>
        <td>{{ ranks|floatformat:2 }}</td>
        <td>{{ tiebreaker }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div class="col-6">
  <h5 class="text-center">Novice Ranking</h5>
  <table class="table table-striped table-sm table-bordered">
    <thead>
      <th>#</th>
      <th>Team Name</th>
      <th>Wins</th>
      <th>Speaks</th>
      <th>Ranks</th>
      <th title="Tiebreaker between the team and the next-best team">Tiebreaker</th>
    </thead>
    {% for team, wins, speaks, ranks, tiebreaker in novice %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="/team/{{ team.id }}">{{ team.display_backend }}</a></td>
        <td>{{ wins }}</td>
        <td>{{ speaks|floatformat:2 }}</td>
        <td>{{ ranks|floatformat:2 }}</td>
        <td>{{ tiebreaker }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
