{% extends "base/__normal.html" %}
{% load bootstrap4 %}

{% block title %}Tab Settings{% endblock %}

{% block banner %} {{title}} {% endblock %}

{% block content %}
<div class="col-md-8">
    <ul class="nav nav-tabs mb-3">
        {% for category in categories %}
            <li class="nav-item">
                <a class="nav-link{% if forloop.first %} active{% endif %}" 
                   id="{{ category.id }}-tab" 
                   data-toggle="tab" 
                   href="#{{ category.id }}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {{ form.media }}
    <form action="" method="post" id="data-entry-form">
        {% csrf_token %}
        <div class="tab-content">
            {% for category in categories %}
                <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="{{ category.id }}">
                    <div class="alert alert-info mb-4">
                        <strong>{{ category.name }}</strong><br>
                        {{ category.description }}
                    </div>
                    
                    <div class="form-row">
                        {% for field in category.fields %}
                            <div class="col-md-6 mb-3">
                                <label for="{{ field.id_for_label }}" class="font-weight-bold">
                                    {{ field.label }}
                                    {% if field.help_text %}
                                        <span class="badge badge-info help-badge" 
                                              data-toggle="tooltip" 
                                              data-html="true"
                                              title="{{ field.help_text }}">?</span>
                                    {% endif %}
                                </label>
                                
                                {% if field.field.widget.input_type == 'checkbox' %}
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" 
                                               class="custom-control-input" 
                                               name="{{ field.name }}" 
                                               id="{{ field.id_for_label }}"
                                               {% if field.value %}checked{% endif %}>
                                        <label class="custom-control-label" for="{{ field.id_for_label }}">
                                            {% if field.value %}Enabled{% else %}Disabled{% endif %}
                                        </label>
                                    </div>
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                
                                {% if field.errors %}
                                    <div class="invalid-feedback d-block">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% buttons %}
            <input type="submit" value="Save" class="btn btn-primary"/>
        {% endbuttons %}
    </form>
</div>
<div class="col-md-4">
    <div class="alert alert-warning">Please be careful editing these settings.   If you require assistance, please check out the <a href="https://mit-tab.readthedocs.io/en/latest/Advanced-Topics.html"> documentation!</a>
    </div>
</div>
{% endblock %}
