{% extends "base.html" %}

{% block title %}Data Entry{% endblock %}
{% block banner %} {{title}} {% endblock %}

{% block content %}
<p>List of all {{item_type}}s (click to edit):</p>
<div id="filter">
Quick Search: <input type="text" id="filter_box"></input>
</div>
<div id="view_items"> 
    <div class="list_wrapper">
    <ul class="list_item">
        {% for id, item in item_list%}
            {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:20 %}
                </ul>
                </div>
                <div class="list_wrapper">
                <ul class="list_item">
            {% endif %}
            <li class='data_list {% if forloop.counter0|divisibleby:2 %}even{%else%}odd{%endif%}'>
                    <a class="" href="/{{item_type}}/{{id}}">{{item}}</a> </li>
        {% endfor %}
    </ul>
    </div>
</div>
<div class="clear"></div>
{% endblock %}
