{% load tags %}

{% url tab.views.index as home%}

{% url tab.views.enter_school as enter_school %}
{% url tab.views.view_schools as view_schools %}

{% url tab.views.enter_room as enter_room %}
{% url tab.views.view_rooms as view_rooms %}

{% url tab.judge_views.enter_judge as enter_judge %}
{% url tab.judge_views.view_judges as view_judges%}

{% url tab.team_views.enter_team as enter_team %}
{% url tab.team_views.view_teams as view_teams%}
{% url tab.team_views.rank_teams_ajax as rank_teams %}
{% url tab.team_views.all_tab_cards as tab_cards %}

{% url django.contrib.auth.views.logout as logout %}

{% url tab.debater_views.enter_debater as enter_debater %}
{% url tab.debater_views.view_debaters as view_debaters %}
{% url tab.debater_views.rank_debaters_ajax as rank_debaters %}

{% url tab.pairing_views.view_status as view_status %}
{% url tab.pairing_views.view_rounds as view_rounds %}
{% url tab.pairing_views.pair_round as pair_round %}
{% url tab.pairing_views.confirm_start_new_tourny as confirm_start_new_tourny %}
{% url tab.pairing_views.manual_backup as backup %}
{% url tab.pairing_views.view_backups as view_backups %}

<div id="nab_bar">
    <ul id="navlist">
        <li><a class="{% active request home %}" href="{{ home }}">Home</a></li>
        <li><a class="{% active request rank_teams %}{% active request rank_debaters %}">Rankings</a>
            <ul id="sublist">
                <li><a class="{% active request rank_debaters %}" href="{{ rank_debaters }}">Debater Ranking</a></li>
                <li><a class="{% active request rank_teams %}" href="{{ rank_teams }}">Team Ranking</a></li>
            </ul>
        </li>
        </li>
            <ul id="sublist">
                <li><a class="{% active request enter_team %}" href="{{ enter_team }}">Enter Team</a></li>
                <li><a class="{% active request view_teams %}" href="{{ view_teams }}">View Teams</a></li>
            </ul>
        </li>
        <li><a class="{% active request view_status %}{% active request view_rounds %}">Pairings</a>
            <ul id = "sublist">
                <li><a class="{%active request view_status %}" href="{{ view_status }}">Current Round</a></li>
                <li><a class="{%active request view_rounds %}" href="{{ view_rounds }}">All Rounds</a></li>
            </ul>
        </li>
        <li><a class="{%active request pair_round %}" href="{{ pair_round }}">Prepare Next Pairing</a></li>
        <li><a class="{% active request confirm_start_new_tourny %}">Admin</a>
            <ul id = "sublist">
                <li><a href="/admin">Admin Interface</a></li>
                <li><a class="{%active request confirm_start_new_tourny %}" href="{{ confirm_start_new_tourny }}">New Tournament</a></li>
            </ul>
        </li>
        <li><a class="{% active request tab_cards %}{% active request backup %}{% active request view_backups %}">Backups</a>
            <ul id = "sublist">
                <li><a class="{%active request view_backups %}" href="{{ view_backups }}">View Backups</a></li>
                <li><a class="{%active request backup %}" href="{{ backup }}">Backup Current</a></li>
                <li><a class="{%active request tab_cards %}" href="{{ tab_cards }}">View Tab Cards</a></li>
            </ul>
        </li>
	<li><a class="{% active request logout %}" href="{{ logout }}">Logout</a></li>
    </ul>
<br>
</div>
