{% extends "base.html" %}

{% block title %}Debater Rankings{% endblock %}

{% block banner %} {{title}} {% endblock %}

{% block content %}
<div class="float_container">
    <div class="left50">
        <table class="pretty full_width">
            <tr>
                <td colspan=5> Varsity Ranking </td>
            </tr>
            <tr>
                <th>#</th><th>Debater Name</th><th>Speaks</th><th>Ranks</th><th>Team</th>
            </tr>    
            {% for debater,speaks,ranks,team in debaters %}
            <tr>
                <td> {{forloop.counter}} </td>
                <td> <a href="/debater/{{debater.id}}">{{debater.name}}</a></td>
                <td> {{speaks|floatformat:2}}</td>
                <td> {{ranks|floatformat:2}}</td>
                <td> <a href="/team/{{team.id}}/">{{team.name}}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="right50">
        <table class="pretty full_width">
            <tr>
                <td colspan=5>Novice Ranking</td> 
            </tr>
            <tr>
                <th>#</th><th>Debater Name</th><th>Speaks</th><th>Ranks</th><th>Name</th>
            </tr>    
            {% for debater,speaks,ranks,team in nov_debaters %}
            <tr>
                <td> {{forloop.counter}} </td>
                <td> <a href="/debater/{{debater.id}}">{{debater.name}}</a></td>
                <td> {{speaks|floatformat:2}}</td>
                <td> {{ranks|floatformat:2}}</td>
                <td> <a href="/team/{{team.id}}/">{{team.name}}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}
