version: 2.1
orbs:
  codecov: codecov/codecov@1.0.4
jobs:
  build:
    docker:
      - image: benmusch/mittab-test:0.0.1
        environment:
          MYSQL_PASSWORD: secret
      - image: circleci/mysql:5.7
        environment:
          MYSQL_ROOT_PASSWORD: secret
          MYSQL_DATABASE: mittab
          MYSQL_ROOT_HOST: 127.0.0.1

    parallelism: 4

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
            npm install

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          # Our primary container isn't MYSQL so run a sleep command until it's ready.	
          name: Waiting for MySQL to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z 127.0.0.1 3306 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for MySQL && exit 1

      - run:
          name: setup db
          command: |
            . venv/bin/activate
            ./bin/setup password

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            pytest --junitxml=test-reports/junit.xml --cov=mittab --cov-report xml:cov.xml --circleci-parallelize mittab/
          no_output_timeout: 20m

      - store_test_results:
          path: test-reports

      - store_artifacts:
          path: test-reports
          destination: test-reports

      - codecov/upload:
          file: ./cov.xml
  lint:
    docker:
      # note: this is 3.5.7 because pylint doesn't yet support 3.7
      - image: circleci/python:3.5.7-node
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
            npm install
      - run:
          name: Lint -- Python
          command: |
            . venv/bin/activate
            pylint mittab
      - run:
          name: Lint -- JS
          command: npm run lint
  docs:
    docker:
      - image: circleci/python:3.7.3-node
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "docs/requirements.txt" }}
            - v1-dependencies-
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r docs/requirements.txt
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "docs/requirements.txt" }}
      - run:
          name: Build docs
          command: |
            . venv/bin/activate
            cd docs
            mkdir _static
            make html
      - run:
          name: Check links
          command: |
            . venv/bin/activate
            cd docs
            make linkcheck
workflows:
  version: 2
  build_and_lint:
    jobs:
      - lint
      - build
      - docs
