version: 2.1
orbs:
  codecov: codecov/codecov@1.0.4
jobs:
  build:
    docker:
      - image: circleci/python:3.7.2-node-browsers
    parallelism: 4

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "requirements.txt" }}
            - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
            npm install

      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            ./bin/setup password > /dev/null 2>&1
            pytest --cov=mittab --cov-report xml:cov.xml --circleci-parallelize --reuse-db
          no_output_timeout: 20m

      - store_artifacts:
          path: test-reports
          destination: test-reports

      - codecov/upload:
          file: ./cov.xml
