{% extends "base.html" %}

{% block content %}
  
  <script type="text/javascript" src="/static/javascript/login.js"></script>
  
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <div class="well">
    Welcome to MIT-TAB. If you are a member of the tournament staff you can
    login below to the left. If you are a participant you can view pairings
    below to the right.
  </div>

  <div class="row-fluid">
    <div class="span4">
      <h3> Tab Staff Login </h3>
      <form action="" method="post" class="form-horizontal">{% csrf_token %}
        <div class="control-group">
          <label for="username">User name:</label>
          <input type="text" name="username" value="" id="username" placeholder="Username">
          <label for="password">Password:</label>
          <input type="password" name="password" value="" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn inline">Sign in</button>
        <input type="hidden" name="next" value="{{ next|escape }}" />
      </form>
    </div>
    
    <div class="span4">
      <h3> Participant Access </h3>
      <div class="control-group">
        <a class="btn btn-large btn-info" href="/pairings/pairinglist/">
          View released pairings
        </a>

        <br/>
        <br/>

        <a class="btn btn-large btn-info" href="/pairings/missing_ballots/">
          View missing ballots
        </a>

        <br/>
        <br/>

        <a class="btn btn-large btn-info" href="/e_ballots/">
          Submit an e-ballot
        </a>
      </div>
    </div>
    
    <div class="span4">
      <h3> Next Round Look-up </h3>
      
      <div class="control-group">
        
        <label for="debater">Next Round for Debater:</label>
        <input type="text" name="debater" value="" id="debater" placeholder="John Doe">          
        <button class="btn inline"  id="debater_btn"> Check Team </button>
        
        <br> <br>
        
        <label for="debater">Next Round for Team:</label>
        <input type="text" name="team" value="" id="team" placeholder="Team name">
        <button class="btn inline"  id="team_btn"> Check Team </button>

      </div> 
    </div>
  </div>


{% endblock %}

