{% extends "base_new.html" %}

{% block content %}

<div class="col">
  <h4>Tab Staff Login</h4>

  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="post" class="form-horizontal">{% csrf_token %}
    <div class="control-group">
      <label for="username">User name:</label>
      <input type="text" name="username" value="" id="username" placeholder="Username">
      <label for="password">Password:</label>
      <input type="password" name="password" value="" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn inline">Sign in</button>
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
</div>

<div class="col">
  <h4>Participant Access </h4>
  <div class="control-group">
    <a class="btn btn-large btn-info" href="/pairings/pairinglist/">
      View released pairings
    </a>

    <a class="btn btn-large btn-info" href="/pairings/missing_ballots/">
      View missing ballots
    </a>

    <a class="btn btn-large btn-info" href="/e_ballots/">
      Submit an e-ballot
    </a>
  </div>
</div>


{% endblock %}
