body {
    background:#BFD9FF;
    padding: auto;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

a {
    text-decoration: none;
}

div.welcome {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 2.5em;
    font-size: 35px;
    color: white;
    margin: auto;
}

div#top_banner {
    background:#00438A;
    height:6em;
    width:100%;
    margin: 0;
    margin-bottom: .8em;
    text-align: center;
    position: relative;
    border-radius: 1em;
}

img.banner{
    float: left;
    display:inline-block;
    height: 6em;
    margin:0 0 0 .8em;
}

td.center {
    text-align: center;
}

div.index_container {
    overflow-x:hidden;
    overflow-y:scroll;
    height: 40em;
}

/*  Form Styling */
.warning {
    color: #CC0000;
}

.success {
    color: #009900;
}

p.warning {
    border: 1px solid #444444;
    padding: .5em;
}

th.header{
    font-size: 16px;
    text-align: center;
}

div#banner {
    font-size: 25px;
    padding: .2em;
}

table.pretty {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #666666;
}
table.pretty th{
    border: 1px solid #666666;
    padding: .25em;
    font-size: 1em;
    font-style: bold;
}

/* Pairing view */

#round_info {
  padding: .25rem;
}

.table-condensed {
  font-size: .875em;
}

.table-condensed td, .table-condensed th {
  padding: .5em !important;
}

table.check_status {
    text-align: left;
    border-collapse: collapse;
    border-bottom: 1px solid #666666;
}

table.check_status th {
    border: 1px solid #BBBBBB;
}

table.check_status td {
    border-right: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
}

.judge .dropdown-menu.show {
  font-size: .875em;
  max-height: 20rem;
  display: block;
  overflow-y: scroll;
}

.greyed_out {
    background : white;
    color: white;
}

a.view_object {
    text-decoration: none;
    background: #CCCCCC;
}

div#view_items {
    padding: 1em 0 1em 0;
}

ul.errorlist {
    list-style: none;
    padding: .1em;
    margin: 0;
    color: #CC0000;
}

ul.errorlist li::before {
    content: ", ";
    white-space: pre;
}
ul.errorlist li:first-child::before {
    content: "";
}

div.team_record {
    float: right;
    padding: 1em;
    border: 1px solid #BBBBBB;
    font-size: 18px;
    z-index: 5;
    background-color: #FBFBF0
}

div.team_record table {
    border-collapse: collapse;
}
div.team_record table th{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: .1em;
}
div.team_record table td{
    border-right: 1px solid black;
    margin: .1em;
}


div.list_wrapper {
    float: left;
}

div.clear {
    clear: both;
}

a.obj_item {
    text-decoration: none;
    color: black;
}

div.team_record td {
    padding-right: .5em;    
    padding-left: .5em;    
}

div.team_record th {
    padding-right: .5em;    
    padding-left: .5em;    
}

.mid {
    font-size: 18px;
}

.right {
    float: right;    
}

.left {
    float: left;
}

.right50 {
    float: right;
    width: 48%;
}

.left50 {
    float: left;
    width: 48%;
}

.no_decoration {
    text-decoration: none;    
}

a.button {
    text-decoration: none;
    color: black;
    background: #2E7BCA;
    border-radius: .2em;
    padding: .2em;
    display: inline-block;
    text-align: center;
}


div.scroll{
    border: 1px solid #444444;
    height: 20em;
    overflow: auto
}

span.list_item {
    float: right;
    margin-left: .5em;
}

.invisible {
    display: none;
}

.loading{
    background:url('/static/images/ajax-loader.gif') no-repeat center;
    width: 100%;
    height: 200px;
}

/*Fixing all the bootstraps */

span.inline {
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle;
}


.table th, .table td { 
     border-top: none; 
}

.nowrap {
    white-space:nowrap;
}

.bold-font {
    font-weight: bold;
}

.hidden {
    display: none;
}

.winner {
    font-size: 16px;
    border: 1px solid #dddddd;
    padding: 1em;

}

.block-tight {
    display: block;
    margin: 0px;
}

.table-second-striped > tbody > tr:nth-child(4n) > td {
      background-color: #EEEEEE;
}

.table-second-striped > tbody > tr:nth-child(4n+1) > td {
      background-color: #EEEEEE;
}

.input-super-mini {
  width: 40px;
}
