body {
    background:#BFD9FF;
    padding: auto;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.full_width {
    width:100%;
}

/*Navigation.html styling  */
div#nab_bar {
    width: 100%;    
}

ul#navlist {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

ul#navlist li {
  display: block;
  position: relative;
  float: left;
}

ul#navlist li {
    width:12.5%;
}

ul#navlist li a {
    border-radius:.2em;
    display: block;
    border-top: 1px solid #ffffff;
    padding: .5em 1em .5em 1em;
    background: #2E7BCA;
    margin-left: 1px;
    text-align: center;
    text-decoration: none;
    color: black;
}

ul#navlist li a.active {
  background: #BFD9FF;
  text-decoration: none;
}

ul#navlist li a:hover { background: #A4C0E4; }

ul#sublist {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    width: 100%;
    z-index: 5;
}

ul#sublist li {
    width:100%;
    
}

ul#sublist li a.active {
  background: #2C72C7;
  text-decoration: none;
}

li:hover ul#sublist {
  display: block;
  position: absolute;
}
ul#sublist li:hover a { background: #A4C0E4; }
ul#sublist li:hover li a:hover { background: #A4C0E4; }
/*finish navigation.html  */

/* Index styling */
div#outer {
    text-align: center;
}

div#container {
    width: 95%;
    text-align: left;
    margin: auto;
    color: #333333;
    background-color: #ffffff;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    border-radius: 1em;
    overflow: auto;
}
div.float_container {
    overflow:hidden;
}

div.welcome {
    line-height: 3em;
    font-size: 25px;
    color: white;
    margin: auto;
}

div#top_banner {
    background:#00438A;
    height:6em;
    width:100%;
    margin: 0;
    margin-bottom: .8em;
    text-align: center;
    position: relative;
    border-radius: 1em;
}

img.banner{
    float: left;
    display:inline-block;
    height: 6em;
    margin:0 0 0 .8em;
}

#school_list {
vertical-align: top;
display:inline-block;
padding:.5em;
color:blue;
}

ul#schools{
list-style: decimal;    
}

ul#judges{
list-style:decimal;    
}
/*  I really need to get rid of this copy paste code*/
div.index_list{
    width: 18%;
    vertical-align: top;
    display:inline-block;
    padding:.5em;
}

div.index_header {
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: black;
}

.w100 {
    width: 100%;
}

.w75 {
    width: 75%;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w25 {
    width: 25%;
}

.center-text {
    text-align: center;    
}

td.center {
    text-align: center;    
}
.div.index_list ol {
    padding-left: 2em;
    margin: 0;
}

div.index_container {
    overflow-x:hidden;
    overflow-y:scroll;
    height: 40em;
}

ul#teams{
list-style:decimal;    
}


/*  Form Styling */
.warning {
    color: #CC0000;
}

.success {
    color: #009900;
}

p.warning {
    border: 1px solid #444444;
    padding: .5em;
}

th.header{
    font-size: 16px;
    text-align: center;
}

div#banner {
    font-size: 25px;  
    padding: .2em;
}

.form_header{
    text-align:center;    
}

table.pretty {
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #666666;  
}
table.pretty th{
    border: 1px solid #666666;   
    padding: .25em;
    font-size: 18px;
    font-style: bold;
}
div#round_info{
    font-size: 14px;   
}

table.check_status {
    text-align: left;
    border-collapse: collapse;
    border-bottom: 1px solid #666666;
}

table.check_status th {
    border: 1px solid #BBBBBB;
}

table.check_status td {
    border-right: 1px solid #BBBBBB;
    border-left: 1px solid #BBBBBB;
}

div.obj_info {
    border: 1px solid #BBBBBB;
    padding: .5em;
    margin-botton: 1em;
    overflow: hidden; 
}

.greyed_out {
    background : white;
    color: white;
}

a.view_object {
    text-decoration: none;
    background: #CCCCCC;
}

div#view_items {
    padding: 1em 0 1em 0;
}

ul.errorlist {
    list-style: none;
    padding: .1em;
    margin: 0;
    color: #CC0000;
}

ul.errorlist li::before {
    content: ", ";
    white-space: pre;
}
ul.errorlist li:first-child::before {
    content: "";
}

div.team_record {
    float: right;
    padding: 1em;
    border: 1px solid #BBBBBB;
    font-size: 18px;
    z-index: 5;
    background-color: #FBFBF0
}

div.team_record table {
    border-collapse: collapse;
}
div.team_record table th{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin: .1em;
}
div.team_record table td{
    border-right: 1px solid black;
    margin: .1em;
}

table.ballot_entry tr.top{
    border-top: 1px solid black;
}

table.ballot_entry tr.bottom{
    border-bottom: 1px solid black;
}

table.ballot_entry td.right_line{
    border-right: 1px solid black;
}


div.list_wrapper {
    float: left;
}

div.clear {
    clear: both;
}

a.obj_item {
    text-decoration: none;
    color: black;
}

div.team_record td {
    padding-right: .5em;    
    padding-left: .5em;    
}

div.team_record th {
    padding-right: .5em;    
    padding-left: .5em;    
}

.mid {
    font-size: 18px;
}

.right {
    float: right;    
}

.left {
    float: left;
}

.right50 {
    float: right;
    width: 48%;
}

.left50 {
    float: left;
    width: 48%;
}

.no_decoration {
    text-decoration: none;    
}

a.button {
    text-decoration: none;
    color: black;
    background: #2E7BCA;
    border-radius: .2em;
    padding: .2em;
    display: inline-block;
    text-align: center;
}


div.scroll{
    border: 1px solid #444444;
    height: 20em;
    overflow: auto
}

li.data_list a{
    display: block;
    padding: .1em;
    width: 100%;    
}

ul.list_item {
    list-style: none;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
}

span.list_item {
    float: right;
    margin-left: .5em;
    
}

.invisible {
    display: none;
}

.loading{
    background:url('/static/images/ajax-loader.gif') no-repeat center;
    width: 100%;
    height: 200px;
}

/*Fixing all the bootstraps */

span.inline {
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 0;
    vertical-align: middle;
}


.table th, .table td { 
     border-top: none; 
}

.nowrap {
    white-space:nowrap;
}

.bold-font {
    font-weight: bold;
}

.hidden {
    display: none;
}

.winner {
    font-size: 16px;
    border: 1px solid #dddddd;
    padding: 1em;

}

div.spacer {
    margin: 1em;
}
