<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>

    <script type="text/javascript" src="/static/javascript/tab.js"></script>
    <script type="text/javascript" src="/static/javascript/pairings.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

    {% load bootstrap4 %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="outer">
        <div id="container">
            <div id="dialog" class="invisible" title="Please Confirm">Are you sure?</div>
            {% if not no_navigation %}
            {% include "navigation_new.html" %}
            {% endif %}
            <br>
                <div id="banner">
                {% block banner %}{% endblock %}
                </div>

                {% bootstrap_messages %}

                {% block content %}{% endblock %}
                {% block footer %}
                <hr>
                <p>Need help? Check out <a href="https://github.com/jolynch/mit-tab/wiki">the wiki.</a></p>
                <p>MIT-TAB, published under the MIT License by Joey Lynch and Julia Boortz</p>
                {% endblock %}
        </div>
    </div>
</body>
</html>
