<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>

    {% load render_bundle from webpack_loader %}
    {% render_bundle 'main' %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container-fluid text-left">
    <div id="container" class="container">
      <div id="dialog" class="invisible" title="Please Confirm">Are you sure?</div>
      {% if no_navigation %}
        <pre>TODO: no nav view</pre>
      {% else %}
        {% include "navigation_new.html" %}
      {% endif %}

      <div class="row-fluid">
        <h2>{% block banner %}{% endblock %}</h2>
      </div>

      <div class="row-fluid">
        {% block content %}{% endblock %}
      </div>

      <div class="row-fluid mt-2 text-center border-top">
        <p>Need help? Check out <a href="https://github.com/jolynch/mit-tab/wiki">the wiki.</a></p>
        <p>MIT-TAB, published under the MIT License by Joey Lynch and Julia Boortz</p>
      </div>

    </div>
  </div>
</body>
</html>
