<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css"/>
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container-fluid text-left">
    <div class="row-fluid">
      <div id="dialog" class="invisible" title="Please Confirm">Are you sure?</div>
    </div>

    {% if no_navigation %}
      <div id="top_banner">
        <div class="welcome">MIT-TAB</div>
      </div>
    {% else %}
      {% include "navigation.html" %}
    {% endif %}

    <div class="row-fluid" id="banner">
      {% block banner %}{% endblock %}
    </div>

    <div class="row-fluid">
      {% block content %}{% endblock %}
    </div>

    <div class="row-fluid mt-2 text-center border-top">
      <p>Need help? Check out <a href="https://github.com/jolynch/mit-tab/wiki">the wiki.</a></p>
      <p>MIT-TAB, published under the MIT License by Joey Lynch and Julia Boortz</p>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/javascript/tab.js"></script>
  <script type="text/javascript" src="/static/javascript/pairings.js"></script>
  <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
</body>
</html>

