{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Data Entry{% endblock %}

{% block banner %} {{title}} {% endblock %}

{% block content %}


<div class="row">
  <div class="col-8">
    {% if form.errors %}
      <div class="alert alert-danger">
        Please correct the error{{ form.errors|pluralize }} below.
      </div>
    {% endif %}
    <script type="text/javascript" src="/dynamic-media/jsi18n/"></script>
    {{ form.media }}
    <form action="{{ action }}" method="post" class="form-control-sm dataEntryForm" enctype="multipart/form-data">{% csrf_token %}
      <table>
        {{ form|bootstrap }}
        {{ other_data }}
      </table>
      {% if links %}
        <div class="btn-group">
          {% for link,text,confirm in links %}
            <a class="btn btn-secondary{%if confirm%} confirmLink{%endif%}" href='{{link}}'>{{text}}</a>
          {% endfor %}
        </div>
      {% endif %}
      <hr>
      <input type="submit" class="btn btn-primary" value="Submit Changes">
    </form>
  </div>

  {% if team_obj %}
    <div class="col-4 team_record">
      Team Stats:
      <table>
        <tr><th>Stat</th><th>Value</th></tr>
        {% for stat,val in team_stats %}
          <tr><td>{{stat}}</td><td>{{val}}</td></tr>
        {% endfor %}
      </table>
      <a href='/team/card/{{ team_obj.id }}/pretty/'>View Tab Card</a>
    </div>
  {% endif %}


  {% if debater_obj %}
      <div class="col-4 team_record">
      Debater Rounds:
      <table>
        <tr><th>Round #</th><th>Speaks</th><th>Ranks</th></tr>
        {% for round in debater_rounds %}
          <tr>
            <td><a href='/round/{{ round.round.id }}/result/'>Round {{ round.round.round_number }}</a></td>
            <td>{{round.speaks}}</td>
            <td>{{round.ranks}}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
</div>
{% endblock %}
