{% extends "base.html" %}
{% load bootstrap %}

{% block title %}Data Entry{% endblock %}

{% block banner %} {{title}} {% endblock %}

{% block content %}


<div class="row">
  <div class="col-8">
    {% if form.errors %}
      <div class="alert alert-danger">
        Please correct the error{{ form.errors|pluralize }} below.
      </div>
    {% endif %}
    <script type="text/javascript" src="/dynamic-media/jsi18n/"></script>
    {{ form.media }}
    <form action="{{ action }}" method="post" class="form-control form-control-sm dataEntryForm" enctype="multipart/form-data">{% csrf_token %}
      <table>
        {{ form|bootstrap }}
        {{ other_data }}
      </table>
      {% if links %}
        <div class="btn-group">
          {% for link,text,confirm in links %}
            <a class="btn btn-secondary{%if confirm%} confirmLink{%endif%}" href='{{link}}'>{{text}}</a>
          {% endfor %}
        </div>
      {% endif %}
      <hr>
      <input type="submit" class="btn btn-primary" value="Submit Changes">
    </form>
  </div>

  {% if team_obj %}
    <div class="col-4">
      <div class="card container">
        <div class="card-header row">
          <div class="col-6"><b>Stat</b></div>
          <div class="col-6"><b>Vaue</b></div>
        </div>
        <ul class="list-group list-group-flush">
          {% for stat,val in team_stats %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-6">{{stat}}</div>
                <div class="col-6">{{val}}</div>
              </div>
            </li>
          {% endfor %}
          <li class="list-group-item">
            <a href='/team/card/{{ team_obj.id }}/pretty/'>View Tab Card</a>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}


  {% if debater_obj %}
    <div class="col-4">
      <div class="card container">
        <div class="card-header row">
          <div class="col-4"><b>Round</b></div>
          <div class="col-4"><b>Speaks</b></div>
          <div class="col-4"><B>Ranks</B></div>
        </div>
        <ul class="list-group list-group-flush">
          {% for round in debater_rounds %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-4">
                  <a href='/round/{{ round.round.id }}/result/'>Round {{ round.round.round_number }}</a>
                </div>
                <div class="col-4">{{round.speaks}}</div>
                <div class="col-4">{{round.ranks}}</div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
