{% extends "base_new.html" %}

{% block title %}E-Ballot Search{% endblock %}

{% block banner %} {{title}} {% endblock %}

{% block content %}

<div class="col-4"></div>
<div class="col">
    <h2 class="text-center">E-Ballot Search</h2>
    <br>
    <form action="/e_ballots/" method="post" class="eBallotSearchForm" enctyp="multipate/form-data">
      {% csrf_token %}

      <div class="form-group">
        <label for="e_ballot_search">Ballot code:</label>
        <input id="e_ballot_search" class="form-control" name="ballot_code">
        <small>Your ballot code. Go to tab to get it if you haven't.</small>
      </div>

      <input class="btn btn-primary btn-block mb-3" type="submit" value="Get Ballot">
    </form>
</div>
<div class="col-4"></div>

{% endblock %}
