{% extends "base.html" %}

{% block title %}Welcome to MIT Tab{% endblock %}

{% block content %}

{% url "judges" as view_judges %}
{% url "schools" as view_schools %}
{% url "teams" as view_teams %}
{% url "debaters" as view_debaters %}
{% url "rooms" as view_rooms %}

{% url "new-judge" as enter_judge %}
{% url "new-school" as enter_school %}
{% url "new-team" as enter_team %}
{% url "new-debater" as enter_debater %}
{% url "new-room" as enter_room %}


<div id="filter">
Quick Search: <input type="text" id="filter_box"></input>
</div>

<div class="index_container">
    <div class="index_list" id="school_list">
        <div class="index_header">{{number_schools}} Schools</div>

        <div class="btn-group">
            <a class="mid btn" href="{{ view_schools }}">School List</a>
            <a class="mid btn" href="{{ enter_school }}">Add School</a>
        </div>
        <ol id="schools">
        {% for id,school in school_list %}
        <li class='data_list {% if forloop.counter|divisibleby:2 %}even{%else%}odd{%endif%}'> <a href="/school/{{id}}/"> {{school}}</a> </li>
        {% endfor %}
        </ol>
    </div>

    <div class="index_list" id="judge_list">
        <div class="index_header">{{number_judges}} Judges</div>
        <div class="btn-group">
            <a class="mid btn" href="{{ view_judges }}">Judge List</a>
            <a class="mid btn" href="{{ enter_judge }}">Add Judge</a>
        </div>

        <ol id="judges">
        {% for id,judge in judge_list %}
        <li class='data_list {% if forloop.counter|divisibleby:2 %}even{%else%}odd{%endif%}'> <a href="/judge/{{id}}/"> {{judge}}</a> </li>
        {% endfor %}
        </ol>
    </div>

    <div class="index_list" id="team_list">
        <div class="index_header">{{number_teams}} Teams</div>
        <div class="btn-group">
            <a class="mid btn" href="{{ view_teams }}">Team List</a>
            <a class="mid btn" href="{{ enter_team }}">Add Team</a>
        </div>

        <ol id="teams">
        {% for id,team in team_list %}
        <li class='data_list {% if forloop.counter|divisibleby:2 %}even{%else%}odd{%endif%}'> <a href="/team/{{id}}/"> {{team}}</a> </li>
        {% endfor %}
        </ol>
    </div>

    <div class="index_list" id="debater_list">
        <div class="index_header">{{number_debaters}} Debaters</div>
        <div class="btn-group">
            <a class="mid btn" href="{{ view_debaters }}">Debater List</a>
            <a class="mid btn" href="{{ enter_debater }}">Add Debater</a>
        </div>

        <ol id="debaters">
        {% for id,debater in debater_list %}
        <li class='data_list {% if forloop.counter|divisibleby:2 %}even{%else%}odd{%endif%}'> <a href="/debater/{{id}}/"> {{debater}}</a> </li>
        {% endfor %}
        </ol>
    </div>

    <div class="index_list" id="room_list">
        <div class="index_header">{{number_rooms}} Rooms</div>
        <div class="btn-group">
            <a class="mid btn" href="{{ view_rooms }}">Room List</a>
            <a class="mid btn" href="{{ enter_room }}">Add Room</a>
        </div>

        <ol id="rooms">
        {% for id, room in room_list %}
            <li class='data_list {% if forloop.counter|divisibleby:2 %}even{%else%}odd{%endif%}'>
                <a href="/room/{{id}}/">{{room}}</a>
            </li>
        {% endfor %}
        </ol>
    </div>

</div>
{% endblock %}
