{% extends "base.html" %}
{% load tags %}

{% block title %}Welcome to MIT Tab{% endblock %}

{% block content %}

{% url "mittab.apps.tab.judge_views.view_judges" as view_judges %}
{% url "mittab.apps.tab.views.view_schools" as view_schools %}
{% url "mittab.apps.tab.team_views.view_teams" as view_teams %}
{% url "mittab.apps.tab.debater_views.view_debaters" as view_debaters %}
{% url "mittab.apps.tab.views.view_rooms" as view_rooms %}

{% url "mittab.apps.tab.judge_views.enter_judge" as enter_judge %}
{% url "mittab.apps.tab.views.enter_school" as enter_school %}
{% url "mittab.apps.tab.team_views.enter_team" as enter_team %}
{% url "mittab.apps.tab.debater_views.enter_debater" as enter_debater %}
{% url "mittab.apps.tab.views.enter_room" as enter_room %}

<div class="container-fluid">
  <div class="row">{% quick_search %}</div>

  <div class="row index_container">
    <div class="col-sm" id="school_list">
      <h4 class="text-center font-weight-normal">{{number_schools}} Schools</h4>

      <center>
        <div class="btn-group btn-group-sm">
          <a class="btn btn-secondary" href="{{ view_schools }}">School List</a>
          <a class="btn btn-secondary" href="{{ enter_school }}">Add School</a>
        </div>
      </center>
      <ol id="schools">
        {% for id,school in school_list %}
          <li class="searchable"><a href="/school/{{id}}/">{{school}}</a></li>
        {% endfor %}
      </ol>
    </div>

    <div class="col-sm" id="judge_list">
      <h4 class="text-center font-weight-normal">{{number_judges}} Judges</h4>
      <center>
        <div class="btn-group btn-group-sm">
          <a class="btn btn-secondary" href="{{ view_judges }}">Judge List</a>
          <a class="btn btn-secondary" href="{{ enter_judge }}">Add Judge</a>
        </div>
      </center>

      <ol id="judges">
        {% for id,judge in judge_list %}
          <li class="searchable"><a href="/judge/{{id}}/"> {{judge}}</a> </li>
        {% endfor %}
      </ol>
    </div>

    <div class="col-sm" id="team_list">
      <h4 class="text-center font-weight-normal">{{number_teams}} Teams</h4>
      <center>
        <div class="btn-group btn-group-sm">
          <a class="btn btn-secondary" href="{{ view_teams }}">Team List</a>
          <a class="btn btn-secondary" href="{{ enter_team }}">Add Team</a>
        </div>
      </center>

      <ol id="teams">
        {% for id,team in team_list %}
          <li class="searchable"><a href="/team/{{id}}/"> {{team}}</a></li>
        {% endfor %}
      </ol>
    </div>

    <div class="col-sm" id="debater_list">
      <h4 class="text-center font-weight-normal">{{number_debaters}} Debaters</h4>
      <center>
        <div class="btn-group btn-group-sm">
          <a class="btn btn-secondary" href="{{ view_debaters }}">Debater List</a>
          <a class="btn btn-secondary" href="{{ enter_debater }}">Add Debater</a>
        </div>
      </center>

      <ol id="debaters">
        {% for id,debater in debater_list %}
          <li class="searchable"><a href="/debater/{{id}}/"> {{debater}}</a></li>
        {% endfor %}
      </ol>
    </div>

    <div class="col-sm" id="room_list">
      <h4 class="text-center font-weight-normal">{{number_rooms}} Rooms</h4>
      <center>
        <div class="btn-group btn-group-sm">
          <a class="btn btn-secondary" href="{{ view_rooms }}">Room List</a>
          <a class="btn btn-secondary" href="{{ enter_room }}">Add Room</a>
        </div>
      </center>

      <ol id="rooms">
        {% for id, room in room_list %}
          <li class="searchable"><a href="/room/{{id}}/">{{room}}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endblock %}
