{% extends "base.html" %}
{% load tags %}

{% block title %}Data Entry{% endblock %}
{% block banner %} {{title}} {% endblock %}

{% block content %}

{% if filters %}
<div class="card mb-2">
  <div class="card-header">Quick Filters</div>
  <div class="card-body">
    {% for filter_group in filters %}
      <div class="clear"></div>
      <span class="checkbox inline nowrap">(</span>
      {% for key, value in filter_group %}
        <label class="checkbox inline nowrap"><input type="checkbox" class="filter" name="filter{{key}}" data-filter-group={{forloop.parentloop.counter}} data-filter={{key}} value="{{value}}"> {{value}} </label> 
        {% if not forloop.last %} <span class="checkbox inline">OR</span> {% endif %}
      {% endfor %}
      <span class="checkbox inline ">)</span>
      {% if not forloop.last %} <span class="checkbox inline">AND</span> {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% quick_search %}

<div id="view_items">
  <div class="list_wrapper">
    <ul class="list_item">
      {% for id, item, flags, symbols in item_list%}
        {% if forloop.counter0 != 0 and forloop.counter0|divisibleby:20 %}
          </ul>
          </div>
          <div class="list_wrapper">
          <ul class="list_item">
        {% endif %}
        <li class="searchable {% if forloop.counter0|divisibleby:2 %}even{%else%}odd{%endif%}" data-filters="{{flags}}">
          <a class="no_decoration" href="/{{item_type}}/{{id}}">{{item}} {{symbols}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if symbol_text%}
  <div class="clear"></div>
  <table class="pretty">
    <tr>
      <th>Key</th><th>Meaning</th>
    </tr>
    {% for key, value in symbol_text %}
      <tr><td class="text-center">{{key}}</td><td>{{value}}</td></tr>
    {% endfor %}
  </table>
{% endif %}

<div class="clear"></div>

{% if links %}
<div class="btn-group">
  {% for link,text,confirm in links %}
    <a class="mid btn {%if confirm%}confirmLink{%endif%}" href='{{link}}'>{{text}}</a>
  {% endfor %}
</div>
{%endif%}

<div class="clear"></div>
{% endblock %}
