{% load tags %}

{% url "index" as home %}

{% url "enter_school" as enter_school %}
{% url "view_schools" as view_schools %}

{% url "enter_room" as enter_room %}
{% url "view_rooms" as view_rooms %}

{% url "enter_judge" as enter_judge %}
{% url "view_judges" as view_judges%}
{% url "batch_checkin" as batch_checkin %}

{% url "enter_team" as enter_team %}
{% url "view_teams" as view_teams%}
{% url "rank_teams_ajax" as rank_teams %}
{% url "all_tab_cards" as tab_cards %}

{% url "enter_debater" as enter_debater %}
{% url "view_debaters" as view_debaters %}
{% url "rank_debaters_ajax" as rank_debaters %}

{% url "view_status" as view_status %}
{% url "view_rounds" as view_rounds %}
{% url "pair_round" as pair_round %}
{% url "confirm_start_tourny" as confirm_start_new_tourny %}
{% url "upload_data" as upload_data %}
{% url "manual_backup" as backup %}
{% url "view_backups" as view_backups %}
{% url "view_scratches" as view_scratches %}
{% url "add_scratch" as add_scratch %}

<div id="nab_bar">
    <ul id="navlist">
        <li><a class="{% active request home %}" href="{{ home }}">Home</a></li>
        <li><a class="{% active request pair_round %}{% active request view_status %}{% active request view_rounds %}">Pairings</a>
            <ul id = "sublist">
                <li><a class="{%active request view_status %}" href="{{ view_status }}">Current Round</a></li>
                <li><a class="{%active request view_rounds %}" href="{{ view_rounds }}">All Rounds</a></li>
            </ul>
        </li>

        <li><a class="{% active request rank_teams %}{% active request rank_debaters %}">Rankings</a>
            <ul id="sublist">
                <li><a class="{% active request rank_debaters %}" href="{{ rank_debaters }}">Debater Ranking</a></li>
                <li><a class="{% active request rank_teams %}" href="{{ rank_teams }}">Team Ranking</a></li>
            </ul>
        </li>
        <li><a class="{% active request upload_data %}{% active request batch_checkin %}{% active request confirm_start_new_tourny %}">Admin</a>
            <ul id = "sublist">
                <li><a href="/admin">Admin Interface</a></li>
                <li><a class="{% active request confirm_start_new_tourny %}" href="{{ confirm_start_new_tourny }}">New Tournament</a></li>
                <li><a class="{% active request upload_data %}" href="{{ upload_data }}">File Data Upload</a></li>
                <li><a class="{% active request batch_checkin %}" href="{{ batch_checkin }}">Batch Judge Checkin</a></li>
            </ul>
        </li>
        <li><a class="{% active request tab_cards %}{% active request backup %}{% active request view_backups %}">Backups</a>
            <ul id = "sublist">
                <li><a class="{%active request view_backups %}" href="{{ view_backups }}">View Backups</a></li>
                <li><a class="{%active request backup %}" href="{{ backup }}">Backup Current</a></li>
                <li><a class="{%active request tab_cards %}" href="{{ tab_cards }}">View Tab Cards</a></li>
            </ul>
        </li>
        <li><a class="{% active request view_scratches %}" href="{{ view_scratches }}">Scratches</a>
            <ul id = "sublist">
                <li><a class="{%active request add_scratch %}" href="{{ add_scratch }}">Add Scratch</a></li>
            </ul>
        </li>
    </ul>
<br>
</div>
