{% load tags %}

{% url "mittab.apps.tab.views.index" as home%}

{% url "mittab.apps.tab.views.enter_school" as enter_school %}
{% url "mittab.apps.tab.views.view_schools" as view_schools %}

{% url "mittab.apps.tab.views.enter_room" as enter_room %}
{% url "mittab.apps.tab.views.view_rooms" as view_rooms %}

{% url "mittab.apps.tab.judge_views.enter_judge" as enter_judge %}
{% url "mittab.apps.tab.judge_views.view_judges" as view_judges%}

{% url "mittab.apps.tab.team_views.enter_team" as enter_team %}
{% url "mittab.apps.tab.team_views.view_teams" as view_teams%}
{% url "mittab.apps.tab.team_views.rank_teams_ajax" as rank_teams %}
{% url "mittab.apps.tab.team_views.all_tab_cards" as tab_cards %}

{% url "mittab.apps.tab.debater_views.enter_debater" as enter_debater %}
{% url "mittab.apps.tab.debater_views.view_debaters" as view_debaters %}
{% url "mittab.apps.tab.debater_views.rank_debaters_ajax" as rank_debaters %}

{% url "mittab.apps.tab.pairing_views.view_status" as view_status %}
{% url "mittab.apps.tab.pairing_views.view_rounds" as view_rounds %}
{% url "mittab.apps.tab.pairing_views.pair_round" as pair_round %}
{% url "mittab.apps.tab.pairing_views.confirm_start_new_tourny" as confirm_start_new_tourny %}
{% url "mittab.apps.tab.views.upload_data" as upload_data %}
{% url "mittab.apps.tab.pairing_views.manual_backup" as backup %}
{% url "mittab.apps.tab.pairing_views.view_backups" as view_backups %}
{% url "mittab.apps.tab.views.view_scratches" as view_scratches %}
{% url "mittab.apps.tab.views.add_scratch" as add_scratch %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ home }}">MIT TAB</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle {% active request pair_round %}{% active request view_status %}{% active request view_rounds %}">
          Pairings
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item {%active request view_status %}" href="{{ view_status }}">Current Round</a>
          <a class="dropdown-item {%active request view_rounds %}" href="{{ view_rounds }}">All Rounds</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle {% active request rank_teams %}{% active request rank_debaters %}">
          Rankings
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item {% active request rank_debaters %}" href="{{ rank_debaters }}">Debater Ranking</a>
          <a class="dropdown-item {% active request rank_teams %}" href="{{ rank_teams }}">Team Ranking</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle {% active request tab_cards %}{% active request backup %}{% active request view_backups %}">
          Backups
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item {%active request view_backups %}" href="{{ view_backups }}">View Backups</a>
          <a class="dropdown-item {%active request backup %}" href="{{ backup }}">Backup Current</a>
          <a class="dropdown-item {%active request tab_cards %}" href="{{ tab_cards }}">View Tab Cards</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a data-toggle="dropdown" class="nav-link dropdown-toggle {% active request view_scratches %}{% active request add_scratch %}">
          Scratches
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item {%active request view_scratches %}" href="{{ view_scratches }}">View Scratches</a>
          <a class="dropdown-item {%active request add_scratch %}" href="{{ add_scratch }}">Add Scratch</a>
        </div>
      </li>
      <li class="nav-item {% active request upload_data %}">
        <a class="nav-link" href="{{ upload_data }}">Bulk Data Upload</a>
      </li>
      <li class="nav-item {% active request confirm_start_new_tourny %}">
        <a class="nav-link" href="{{ confirm_start_new_tourny }}">New Tournament</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin Interface</a>
      </li>
    </ul>
  </div>
  <br>
</nav>
