{% extends "base.html" %}

{% block title %}Round Status{% endblock %}

{% block content %}
<div id="round_info">
    <h2>Round Status for Round: {{round_number}} </h2>
    <h3 class="pairing_exists"> We have {% if valid_pairing %} a valid {% else %} an invalid {% endif %} Pairing: </h2>
    {% if not valid_pairing %}
    {{errors}}
    {% endif %}
    <form action="/pairing/assign_judges/"
          method="post"
          onsubmit="return confirm('Do you really want to assign judges. All previous assignments will be lost.  If you are unsure, click cancel and back up')"> {% csrf_token %}
          <div class="row-fluid">
              <div class="span4">
                  <h4>Pairing Controls</h4>
                  <div class="btn-group">
                      {% if judges_assigned %}
                      <button type="submit" class="mid btn btn-success" href="/pairing/assign_judges/" title="Assign judges to your pairing">Assign Judges Again</button>
                      {% else %}
                      <button type="submit" class="mid btn btn-warning" href="/pairing/assign_judges/" title="Assign judges to your pairing">Assign Judges</button>
                      {% endif %}
                      {% if pairing_released %}
                      <a class="mid btn btn-success release"
                         href="#" title="Release the pairings to the participants">Close Pairings</a>
                      {% else %}
                      <a class="mid btn btn-warning release"
                         href="#" title="Release the pairings to the participants">Release Pairing</a>
                      {% endif %}
                      {% url 'mittab.apps.tab.pairing_views.pair_round' as pair_round_url %}
                      <a class="mid btn btn-info"
                         href="{{ pair_round_url }}"
                         title="Pair the next round of debate">Prepare Next Round</a>
                  </div>
              </div>
              <div class="span4">
                  <h4>Display Options</h4>
                  <div class="btn-group"> Display Options
                      <a class="mid btn" href="/pairings/pairinglist/" title="A randomized view to display in GA">Announcement View</a>
                      <a class="mid btn" href="/pairings/pairinglist/printable" title="A randomized view to print for GA">Printable View</a>
                  </div>
              </div>
        </div>

        <div class="spacer"></div>
        <div class="form_header">
            <table class="table table-condensed table-second-striped table-bordered ">
                <tr><th>Team</th>
                    <th>Role</th>
                    <th>Ws/Ss/Gs/Os</th>
                    <th>Judges</th>
                    <th title="Maximum gap in ranks between panel judge and panelists" >Panel Gap</th>
                    <th>Room</th>
                    <th>Results</th>
                    {% if perms.tab.change_tab_settings %}
                    <th>Admin</th>
                    {% endif %}
                    {% for pairing in round_info %}
                    <tr>
                        <td class="team swappable" team-id="{{pairing.gov_team.id}}"
                            round-id="{{pairing.id}}"
                            team-name="{{pairing.gov_team.name}}">
                            <a class="btn btn-link" href="/team/{{pairing.gov_team.id}}" >{{pairing.gov_team.name}}</a></td>
                        <td>GOV</td>
                        <td class="team tabcard" team-id="{{pairing.gov_team.id}}">
                            <a class="btn btn-link" href="/team/card/{{pairing.gov_team.id}}">Loading Team Info...</a>
                        </td>
                        <td class="judge" rowspan=2>
                        {% for judge in pairing.judges.all %} 
                            <span class="full_width btn-group block-tight"
                                round-id="{{pairing.id}}"
                                judge-id="{{judge.id}}">
                                <a class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                                    round-id="{{pairing.id}}"
                                    judge-id="{{judge.id}}" href="#">{{judge.name}} ({{judge.rank}})<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" round-id={{pairing.id}} judge-id={{judge.id}}></ul>
                            </span>
                        {% endfor %}
                        {% for slot in judge_slots %}
                        {% if pairing.judges.all|length < slot %}
                            <span class="full_width unassigned btn-group block-tight"
                                round-id="{{pairing.id}}"> 
                                <a class="btn btn-link dropdown-toggle" data-toggle="dropdown"
                                    round-id="{{pairing.id}}" judge-pos="{{slot}}" href="#">NA
                                </a>
                                <ul class="dropdown-menu" round-id={{pairing.id}} judge-pos={{slot}}></ul>
                            </span>
                        {% endif %}
                        {% endfor %}
                        </td>
                        <td rowspan=2>
                            <input type="text" name="panel_{{pairing.id}}" maxlength=4 class="input-super-mini">
                        </td>
                        <td rowspan=2><a class="btn btn-link" href="/room/{{pairing.room.id}}" >{{pairing.room.name}}</a></td>
                        <td rowspan=2>

                            {% if pairing.victor == 1 %}
                            <a class="btn btn-success" href="/round/{{pairing.id}}/result/">GOV win</a></li>
                            {% else %}{% if pairing.victor == 2 %} 
                            <a class="btn btn-success" href="/round/{{pairing.id}}/result/">OPP win</a></li>
                            {% else %}{% if pairing.victor == 3 %}
                            <a class="btn btn-success" href="/round/{{pairing.id}}/result/">GOV via Forfeit</a></li>
                            {% else %}{% if pairing.victor == 4 %}
                            <a class="btn btn-success" href="/round/{{pairing.id}}/result/">OPP via Forfeit</a></li>
                            {% else %}{% if pairing.victor == 5 %}
                            <a class="btn btn-success" href="/round/{{pairing.id}}/result/">All Drop</a></li>
                            {% else %}{% if pairing.victor == 6 %}
                            <a class="btn btn-success" href="/round/{{pairing.id}}/result/">All Win</a></li>
                            {% else %}
                            <a class="btn btn-warning" href="/round/{{pairing.id}}/result/">Enter Ballot</a></li>
                            {%endif%}{%endif%}{%endif%}
                            {% endif %}{% endif %}{%endif%}

                            {% if pairing.judges.all|length > 1 %}
                            <br>
                            <br>
                            <a class="btn btn-warning" href="/round/{{pairing.id}}/result/{{pairing.judges.all|length}}/">Enter Panel</a></li>
                            {% endif %}

                        </td>
                        {% if perms.tab.change_tab_settings %}
                        <td rowspan=2>
                            <a class="btn btn-link" href="/admin/tab/round/{{pairing.id}}/"> Modify in Admin </a>
                        </td>
                        {% endif %}

                    </tr>
                    <tr>
                        <td class="team swappable" team-id="{{pairing.opp_team.id}}"
                            round-id="{{pairing.id}}"
                            team-name="{{pairing.opp_team.name}}">
                            <a class="btn btn-link" href="/team/{{pairing.opp_team.id}}" >{{pairing.opp_team.name}}</a></td>
                        <td>OPP</td>
                        <td class="team tabcard" team-id="{{pairing.opp_team.id}}">
                            <a class="btn btn-link" href="/team/card/{{pairing.opp_team.id}}">Loading Team Info...</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </form>
        <br>
        <div><h2>People Not Paired In</h2></div>
        <div class="scroll">
            <table class="table table-striped table-condensed">
                <tr>
                  <th>Checked in Teams ({{ byes|length }})</th>
                  <th>Checked in Judges ({{ excluded_judges|length }})</th>
                  <th>Non Checked in Judges ({{ non_checkins|length }})</th>
                  <th>Available Rooms ({{ available_rooms|length }})</th>
                </tr>
                {% for team, cjudge, judge, room in excluded_people %}
                <tr>
                    <td>
                        {% if team %} <a href="/team/{{team.id}}" >{{team.name}}</a> {% endif %}
                    </td>
                    <td>
                        {% if cjudge %} <a href="/judge/{{cjudge.id}}" >{{cjudge.name}}</a> {% endif %}
                    </td>
                    <td>
                        {% if judge %} <a style="color:{% if judge.rank > warning %}red{%else%}black{%endif%}"href="/judge/{{judge.id}}" >{{judge.name}}</a> {% endif %}
                    </td>
                    <td>
                        {% if room %} <a href="/room/{{room.id}}" >{{room.name}}</a> {% endif %}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
        <br>
    </div>

    {% endblock %}
