{% extends "base.html" %}

{% block title %} Public Status for {{ team_name }} {% endblock %}

{% block content %}
  {% if pairing_exists %}
    {% if bye %}
      
      {{team_name}} is on a bye this round.
      
    {% else %}
    
      {{team_name}} will {{gov_or_opp}} next round against {{other_team}}
      in {{room}}, judged by {{judges}}.
      
    {% endif %}
  {% else %}

    Round {{round_number}} does not yet have a valid pairing. Please wait until
    your tournament directors release a valid pairing before viewing this page.

  {% endif %}
{% endblock %}
