{% extends "base.html" %}
{% load tags %}

{% block title %}Data Entry{% endblock %}

{% block banner %} {{title}} {% endblock %}

{% block content %}
<form action="" method="post" class="dataEntryForm form-control" enctype="multipart/form-data">
  <div class="form-group card">
    <div class="card-body">
      <label class="checkbox" for="discard_minority">
        Check this box if you would like to discard any minority ballots.
        This will ensure that you cannot have low point wins.
        <input type="checkbox" id="discard_minority" class="form-control" name="discard_minority" value="minority" checked/>
      </label>
    </div>
  </div>

  <hr>

  {% for form in forms %}
    {% round_form form gov_team opp_team %}
  {% endfor %}
  <input class="btn btn-primary" type="submit" value="Submit Changes"/>
</form>
{% endblock %}
