<link rel="stylesheet" type="text/css" href="/static/css/tab_cards.css"/>
<table id="pairing_list">
    <tr>
        <td colspan=5>Team: {{ team_name }} ({{ team_school }})</td>
        <th class="center" rowspan=2>
            <p>{{ debater_1 }} ({{ debater_1_status|slice:":1" }})</p></th>
        <th class="center" rowspan=2>
            <p>{{ debater_2 }} ({{ debater_2_status|slice:":1" }})</p></th>
        <td></td>
    </tr>
    <tr>
        <th>R</th>
        <th>G/O</th>
        <th>W/L</th>
        <th>Opponent</th>
        <th>Judge</th>
        <th>Total</th>
    </tr>
    {% for round_stat in round_stats %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% ifequal forloop.counter bye_round %}
                <td>BYE</td>
            {% else %}
                <td>{{ round_stat.0 }}</td>
            {% endifequal %}
            <td>{{ round_stat.1 }}</td>
            <td>{{ round_stat.2 }}</td>
            <td>{{ round_stat.3 }}</td>
            <td>{{ round_stat.4 }}</td>
            <td>{{ round_stat.5 }}</td>
            <td>{{ round_stat.6 }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan=5>Tournament Totals:</td>
        <td>({{ d1st|floatformat:2 }},{{ d1rt|floatformat:2 }})</td>
        <td>({{ d2st|floatformat:2 }},{{ d2rt|floatformat:2 }})</td>
        <td>({{ ts|floatformat:2 }},{{ tr|floatformat:2 }})</td>
    </tr>
</table>
