
{% if current_judge_id %}
<h6 class="text-center dropdown-header">Options</h6>

<a href="#" class="btn btn-danger btn-sm dropdown-item {% if is_outround %}outround-judge-remove{% else %}judge-remove{% endif %}" round-id="{{round_obj.id}}" judge-id="{{current_judge_id}}">
  Remove Judge
</a>

{% if current_judge_id != round_obj.chair.id %}
<a href="#" class="btn btn-primary btn-sm dropdown-item {% if is_outround %}outround-judge-chair{% else %}judge-chair{% endif %}" round-id="{{round_obj.id}}" judge-id="{{current_judge_id}}">
  Set To Chair
</a>
{% endif %}

<div class="dropdown-divider"></div>
{% endif %}

<div class="form-group pl-2 pt-2 mb-1">
  <input id="quick-search"
        class="form-control form-control-sm" type="text" placeholder="Search...">
</div>

<h6 class="text-center dropdown-header">Current Judge</h6>

<a class="dropdown-item "href="/judge/{{current_judge_id}}">
  {{current_judge_name}} - {{current_judge_rank}}
  {% if not is_outround and current_judge_rejudge_display %}
    <span class="badge badge-warning ml-1">({{current_judge_rejudge_display}})</span>
  {% endif %}
</a>
<div class="dropdown-divider"></div>
<h6 class="text-center dropdown-header">Viable Judges Not Paired In</h6>
{% if is_outround %}
  {% for judge_name, judge_id, judge_rank in excluded_judges%}
  <a href="#" class="dropdown-item judge-assign searchable" judge-id="{{judge_id}}" round-id="{{round_obj.id}}" current-judge-id="{{current_judge_id}}">
    {{judge_name}} - {{judge_rank}}
  </a>
  {% empty %}
  <a class="dropdown-item">No viable judges</a>
  {% endfor %}
{% else %}
  {% for judge_name, judge_id, judge_rank, rejudge_count in excluded_judges%}
  <a href="#" class="dropdown-item judge-assign searchable" judge-id="{{judge_id}}" round-id="{{round_obj.id}}" current-judge-id="{{current_judge_id}}">
    {{judge_name}} - {{judge_rank}}
    {% if rejudge_count %}
      <span class="badge badge-warning ml-1">({{rejudge_count}})</span>
    {% endif %}
  </a>
  {% empty %}
  <a class="dropdown-item">No viable judges</a>
  {% endfor %}
{% endif %}

<div class="dropdown-divider"></div>
<h6 class="text-center dropdown-header">Viable Judges Within Pairing</h6>
{% if is_outround %}
  {% for judge_name, judge_id, judge_rank in included_judges%}
  <a href="#" class="dropdown-item judge-assign searchable" judge-id="{{judge_id}}" round-id="{{round_obj.id}}" current-judge-id="{{current_judge_id}}">
    {{judge_name}} - {{judge_rank}}
  </a>
  {% empty %}
  <a class="dropdown-item">No viable judges</a>
  {% endfor %}
{% else %}
  {% for judge_name, judge_id, judge_rank, rejudge_count in included_judges%}
  <a href="#" class="dropdown-item judge-assign searchable" judge-id="{{judge_id}}" round-id="{{round_obj.id}}" current-judge-id="{{current_judge_id}}">
    {{judge_name}} - {{judge_rank}}
    {% if rejudge_count %}
      <span class="badge badge-warning ml-1">({{rejudge_count}})</span>
    {% endif %}
  </a>
  {% empty %}
  <a class="dropdown-item">No viable judges</a>
  {% endfor %}
{% endif %}
