{% extends "base/__wide.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}Pairings for Round {{ round_number }}{% endblock %}
{% block banner %}
  Pairings for Round {{ round_number }}
  {% if pairing_exists %}
    <div class="page-subtitle">{{ team_count }} teams</div>
  {% endif %}
{% endblock %}
{% block body_class %}show-team-names{% endblock %}

{% block extra_head %}
  {% render_bundle 'public' %}
  <meta name="round-number" content="{{ round_number }}">
{% endblock %}

{% block content %}
<div class="col-12">
  {% if pairing_exists %}
    <div id="scrollPage" class="hidden"></div>




    <table class="public_table">
      <thead>
        <tr>
          <th>
            Government
          </th> <th>
            Opposition
          </th> <th>
            Judge
          </th> <th>
            Room
          </th>
        </tr>
      </thead>
      <tbody>
      {% for pairing in round_pairing %}
        <tr>
          <td>
            <div class="team-names">
                {{pairing.gov_team.display}}
            </div>
            {% if debater_team_memberships_public %}
            <div class="member-names">
                {{pairing.gov_team.debaters_display}}
            </div>
            {% endif %}
          </td>
          <td>
            <div class="team-names">
                {{pairing.opp_team.display}}
            </div>
            {% if debater_team_memberships_public %}
            <div class="member-names">
                {{pairing.opp_team.debaters_display}}
            </div>
            {% endif %}
          </td>
          <td>
            {% for judge in pairing.judges.all %}
                {% if pairing.judges.all|length > 1 and judge == pairing.chair %}
                <b>{{judge.name}}</b><br>
                {% else %}
                {{judge.name}}<br>
                {% endif %}
            {% endfor %}
          </td>
          <td>{{pairing.room.name}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% include "public/_public_footer.html" with show_byes=byes show_errors=errors show_member_names_toggle=debater_team_memberships_public show_autoscroll=True %}
  {% else %}
    <div class="alert alert-info">
      Round {{ round_number }} does not yet have a released pairing. Please check back later.
    </div>
  {% endif %}
</div>
{% endblock %}
