<div class="form-group pl-2 pt-2 mb-1">
    <input id="quick-search" class="form-control form-control-sm" type="text" placeholder="Search...">
  </div>
  {% if current_room %}
  <h6 class="text-center dropdown-header">Current Room</h6>
  <a class="dropdown-item" href="/room/{{current_room.id}}" style="background-color: {{ current_room.get_color }};">
    {{current_room.name}}
  </a>
  <div class="dropdown-divider"></div>
  {% endif %}

  <h6 class="text-center dropdown-header">Viable Rooms Not Paired In</h6>
  {% for room in viable_unpaired_rooms %}
  <a href="#" class="dropdown-item room-assign searchable" style="background-color: {{ room.get_color }};" room-id="{{room.id}}" round-id="{{round_obj.id}}" current-room-id="{{current_room.id}}">
    {{room.name}}
  </a>
  {% empty %}
  <a class="dropdown-item">No viable rooms not paired in</a>
  {% endfor %}

  <div class="dropdown-divider"></div>
  <h6 class="text-center dropdown-header">Viable Rooms Paired In</h6>
  {% for room in viable_paired_rooms %}
  <a href="#" class="dropdown-item room-assign searchable" style="background-color: {{room.get_color}};" room-id="{{room.id}}" round-id="{{round_obj.id}}" current-room-id="{{current_room.id}}">
    {{room.name}}
  </a>
  {% empty %}
  <a class="dropdown-item">No viable rooms paired in</a>
  {% endfor %}

  <div class="dropdown-divider"></div>
  <h6 class="text-center dropdown-header">Other Rooms</h6>
  {% for room in other_rooms %}
  <a href="#" class="dropdown-item room-assign searchable" style="background-color: {{room.get_color}};" room-id="{{room.id}}" round-id="{{round_obj.id}}" current-room-id="{{current_room.id}}">
    {{room.name}}
  </a>
  {% empty %}
  <a class="dropdown-item">No other rooms</a>
  {% endfor %}