{% if round_obj.gov_team and round_obj.opp_team %}
  <h6 class="text-center dropdown-header">Options</h6>
  <a href="#" class="btn btn-primary btn-sm dropdown-item team-switch-sides"
     round-id="{{ round_obj.id }}"
     data-outround="{% if is_outround %}true{% else %}false{% endif %}">
    Switch Sides
  </a>
  <div class="dropdown-divider"></div>
{% endif %}

<div class="form-group pl-2 pt-2 mb-1">
  <input id="quick-search"
        class="form-control form-control-sm" type="text" placeholder="Search...">
</div>

<h6 class="text-center dropdown-header">Team</h6>

<a class="dropdown-item searchable" href="/team/{{current_team_id}}">
  {{ current_team.display_backend }}
</a>
<div class="dropdown-divider"></div>
<h6 class="text-center dropdown-header">
  Teams Not Paired In
</h6>
{% for team in excluded_teams %}
<a href="#" class="dropdown-item team-assign searchable" position="{{position}}"
            src-team-id="{{current_team_id}}" team-id="{{team.id}}" round-id="{{round_id}}">
  {{ team.display_backend }}
</a>
{% empty %}
<a class="dropdown-item">No teams</a>
{% endfor %}

<div class="dropdown-divider"></div>
<h6 class="text-center dropdown-header">Teams Paired In</h6>
{% for team in included_teams%}
<a href="#" class="dropdown-item team-assign searchable" position="{{position}}"
            src-team-id="{{current_team_id}}" team-id="{{team.id}}" round-id="{{round_id}}">
  {{ team.display_backend }}
</a>
{% empty %}
<a class="dropdown-item">No teams</a>
{% endfor %}
