{% load bootstrap4 %}

{% if form.errors %}
  <div class="alert alert-danger">
    Please correct the error{{ form.errors|pluralize }} below.

    {% bootstrap_form_errors form type='non_fields' %}
  </div>
{% endif %}

{{ form.media }}

{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}

<div class="row">
  <div class="form-group col-md-6">
    {% bootstrap_field form.winner %}
    <div class="mt-2">
      <div class="hidden winner" data-option=0>Please select a winner</div>
      <div class="hidden winner alert alert-info" data-option=1>
          The Government team has won.  Enter speaks and ranks
          normally.
      </div>
      <div class="hidden winner alert alert-info" data-option=2>
          The Opposition team has won. Enter speaks and ranks
          normally
      </div>
      <div class="hidden winner alert alert-info" data-option=3>
          The Government team has won via forfeit. Enter speaks of
          zero and arbitrary ranks for all debaters. The winning team
          will receive average speaks and ranks for this round. 
          The losing team will receive speaks of zero and ranks of 7,
          although you can give them non zero speaks if you wish.
      </div>
      <div class="hidden winner alert alert-info" data-option=4>
          The Opposition team has won via forfeit. Enter speaks of
          zero and arbitrary ranks for all debaters. The winning team
          will receive average speaks and ranks for this round. 
          The losing team will receive speaks of zero and ranks of 7,
          although you can give them non zero speaks if you wish.
      </div>
      <div class="hidden winner alert alert-info" data-option=5>
          Everyone lost this round (didn't show up?). Enter speaks of
          zero and arbitrary ranks. Both teams will receive speaks of
          zero and ranks of 7, although you can give them non zero
          speaks if you wish.  No averaging will occur, however.
      </div>
      <div class="hidden winner alert alert-info" data-option=6>
          Everyone won this round (judge didn't show up). Enter speaks
          of zero and arbitrary ranks. Both teams will receive average
          speaks and ranks for this round. Do <b>not</b> give speaks
          greater than zero to either team.
      </div>
    </div>
  </div>
  {% if form.ballot_code %}
  <div class="form-group col-md-6">
    {% bootstrap_field form.ballot_code %}
  </div>
  {% endif %}
</div>


<div class="row">
<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      Government: {{ gov_team.display }}
    </div>

    <div class="card-body">
      <div class="gov">
        <div class="pm row pb-1 border-bottom">
          <div class="col-12 form-group">
            {% bootstrap_field form.pm_debater %}
          </div>

          <div class="speaks col-md-6 form-group">
            {% bootstrap_field form.pm_speaks %}
          </div>

          <div class="ranks col-md-6 form-group">
            {% bootstrap_field form.pm_ranks %}
          </div>
        </div>

        <div class="mg row pt-3">
          <div class="col-12 form-group">
            {% bootstrap_field form.mg_debater %}
          </div>

          <div class="speaks col-md-6 form-group">
            {% bootstrap_field form.mg_speaks %}
          </div>

          <div class="ranks col-md-6 form-group">
            {% bootstrap_field form.mg_ranks %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      Opposition: {{opp_team.display}}
    </div>
    <div class="card-body">
      <div class="opp">
        <div class="lo row pb-1 border-bottom">
          <div class="col-12 form-group">
            {% bootstrap_field form.lo_debater %}
          </div>

          <div class="speaks col-md-6 form-group">
            {% bootstrap_field form.lo_speaks %}
          </div>

          <div class="ranks col-md-6 form-group">
            {% bootstrap_field form.lo_ranks %}
          </div>
        </div>

        <div class="mo row pt-3">
          <div class="col-12 form-group">
            {% bootstrap_field form.mo_debater %}
          </div>

          <div class="speaks col-md-6 form-group">
            {% bootstrap_field form.mo_speaks %}
          </div>

          <div class="ranks col-md-6 form-group">
            {% bootstrap_field form.mo_ranks %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% bootstrap_field form.rfd %}
</div>
