{% extends "base/__wide.html" %}
{% load tags %}

{% block title %}Data Entry{% endblock %}

{% block banner %} {{title}} {% endblock %}

{% block content %}

<div class="col">
  <div class="container-fluid">
    {% if previous_ballots_url %}
    <div class="d-flex justify-content-start mb-3">
      {% if ballot_code %}
      <a class="btn btn-lg btn-outline-secondary mr-2" href="{% url 'judge_portal' ballot_code %}">
        Judge Portal
      </a>
      {% endif %}
      <a class="btn btn-lg btn-outline-primary" href="{{ previous_ballots_url }}">
        Previous Ballots
      </a>
    </div>
    {% endif %}
    <form action="{{ action }}" method="post" class="ballot-form single" enctype="multipart/form-data">{% csrf_token %}
    {% return_to_input %}
    {% round_form form gov_team opp_team %}

    <div class="row">
      <div class="col mt-2">
        <input class="btn btn-primary" type="submit" value="Save"/>
      </div>
    </div>
    </form>
  </div>
</div>

<script>
  window.speakSettings = {
    warnJudgesAboutSpeaks: {{ warn_judges_about_speaks|lower }},
    lowSpeakWarningThreshold: {{ low_speak_warning_threshold }},
    highSpeakWarningThreshold: {{ high_speak_warning_threshold }}
  };
</script>

{% endblock %}
