{% load tags %}

{% url "index" as home %}
{% url "logout" as logout %}

{% url "enter_school" as enter_school %}
{% url "view_schools" as view_schools %}

{% url "enter_room" as enter_room %}
{% url "view_rooms" as view_rooms %}

{% url "enter_judge" as enter_judge %}
{% url "view_judges" as view_judges%}
{% url "batch_checkin" as batch_checkin %}

{% url "enter_team" as enter_team %}
{% url "view_teams" as view_teams%}
{% url "rank_teams_ajax" as rank_teams %}
{% url "all_tab_cards" as tab_cards %}
{% url "download_archive" as download_archive %}
{% url "round_stats" as round_stats %}
{% url "forum_post" as forum_post %}

{% url "enter_debater" as enter_debater %}
{% url "view_debaters" as view_debaters %}
{% url "rank_debaters_ajax" as rank_debaters %}

{% url "view_status" as view_status %}
{% url "view_rounds" as view_rounds %}
{% url "pair_round" as pair_round %}
{% url "confirm_start_tourny" as confirm_start_new_tourny %}
{% url "upload_data" as upload_data %}
{% url "manual_backup" as backup %}
{% url "manual_backup_without_scratches" as backup_without_scratches %}
{% url "view_backups" as view_backups %}
{% url "view_scratches" as view_scratches %}
{% url "add_scratch" as add_scratch %}
{% url "settings_form" as settings_form %}
{% url "registration_setup" as registration_setup %}
{% url "outround_pairing_view_default" as outround_pairings %}
{% url "pretty_pair" as public_pairings %}
{% url "missing_ballots" as public_missing_ballots %}
{% url "e_ballot_search" as public_eballot %}
{% url "public_judges" as public_judges %}
{% url "public_teams" as public_teams %}
{% url "rank_teams_public" as public_team_rankings %}
{% url "public_rankings_control" as public_rankings_control %}
{% url "public_speaker_rankings" as public_speaker_rankings %}
{% url "public_ballots" as public_ballots %}
{% url "outround_pretty_pair" 0 as public_outround_varsity %}
{% url "outround_pretty_pair" 1 as public_outround_novice %}
{% url "public_home" as public_home %}
{% url "tab_login" as staff_login %}
{% public_display_flags as public_display_flags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mittab-nav">
  <div class="container w-95">
    <a class="navbar-brand text-extra-bold{% if not user.is_authenticated %} no-nav{% endif %}" href="{% if user.is_authenticated %}{{ home|with_return_to }}{% else %}{{ public_home|with_return_to }}{% endif %}">MIT-TAB</a>

    {% if user.is_authenticated %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto order-0">
        <li class="nav-item dropdown">
          <a data-toggle="dropdown" class="nav-link dropdown-toggle {% active request pair_round %}{% active request view_status %}{% active request view_rounds %}">
            Pairings
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item {%active request view_status %}" href="{{ view_status|with_return_to }}">Current Round</a>
            <a class="dropdown-item {%active request view_rounds %}" href="{{ view_rounds|with_return_to }}">All Rounds</a>
            <a class="dropdown-item {%active request outround_pairings %}" href="{{ outround_pairings|with_return_to }}">Outround Pairings</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a data-toggle="dropdown" class="nav-link dropdown-toggle {% active request rank_teams %}{% active request rank_debaters %}{% active request round_stats %}{% active request forum_post %}">
            Rankings
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item {% active request rank_debaters %}" href="{{ rank_debaters|with_return_to }}">Debater Ranking</a>
            <a class="dropdown-item {% active request rank_teams %}" href="{{ rank_teams|with_return_to }}">Team Ranking</a>
            <a class="dropdown-item {% active request round_stats %}" href="{{ round_stats }}">Round Stats</a>
            <a class="dropdown-item {% active request forum_post %}" href="{{ forum_post|with_return_to }}">Forum Post Results</a>
            <a class="dropdown-item {% active request public_rankings_control %}" href="{{ public_rankings_control|with_return_to }}">Public Rankings Control</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a data-toggle="dropdown" class="nav-link dropdown-toggle {% active request tab_cards %}{% active request backup %}{% active request view_backups %}{%active request download_archive %}">
            Backups
          </a>

          <div class="dropdown-menu">
            <a class="dropdown-item {%active request view_backups %}" href="{{ view_backups|with_return_to }}">View Backups</a>
            <a class="dropdown-item {%active request tab_cards %}" href="{{ tab_cards|with_return_to }}">View Tab Cards</a>
            <a class="dropdown-item {%active request download_archive %}" href="{{ download_archive|with_return_to }}" title="DebateXML is an archive format to preserve tournaments and perform analyses.">Create DebateXML</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a data-toggle="dropdown" class="nav-link dropdown-toggle {% active request view_scratches %}{% active request add_scratch %}">
            Scratches
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item {%active request view_scratches %}" href="{{ view_scratches|with_return_to }}">View Scratches</a>
            <a class="dropdown-item {%active request add_scratch %}" href="{{ add_scratch|with_return_to }}">Add Scratch</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a data-toggle="dropdown" class="nav-link dropdown-toggle {% active request batch_checkin %}{% active request upload_data %}{% active request confirm_start_new_tourny %}">
            Admin
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item {% active request batch_checkin %}" href="{{ batch_checkin|with_return_to }}">Batch Checkin</a>
            <a class="dropdown-item {% active request upload_data %}" href="{{ upload_data|with_return_to }}">Bulk Data Upload</a>
            <a class="dropdown-item {% active request settings_form %}" href="{{ settings_form|with_return_to }}">Settings Form</a>
            <a class="dropdown-item {% active request registration_setup %}" href="{{ registration_setup|with_return_to }}">Registration Setup</a>
            <a class="dropdown-item {% active request confirm_start_new_tourny %}" href="{{ confirm_start_new_tourny|with_return_to }}">New Tournament</a>
            <a class="dropdown-item" href="/admin">Admin Interface</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a data-toggle="dropdown" class="nav-link dropdown-toggle {% active request public_pairings %}{% active request public_missing_ballots %}{% active request public_eballot %}{% active request public_judges %}{% active request public_teams %}{% active request public_outround_varsity %}{% active request public_outround_novice %}">
            Public
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item {% active request public_pairings %}" href="{{ public_pairings|with_return_to }}">Released Pairings</a>
            <a class="dropdown-item {% active request public_missing_ballots %}" href="{{ public_missing_ballots|with_return_to }}">Missing Ballots</a>
            <a class="dropdown-item {% active request public_eballot %}" href="{{ public_eballot|with_return_to }}">Submit E-Ballot</a>
            <a class="dropdown-item {% active request public_judges %}" href="{{ public_judges|with_return_to }}">Judge List</a>
            <a class="dropdown-item {% active request public_teams %}" href="{{ public_teams|with_return_to }}">Team List</a>
            {% if public_display_flags.team_results %}
            <a class="dropdown-item {% active request public_team_rankings %}" href="{{ public_team_rankings|with_return_to }}">Public Team Results</a>
            {% endif %}
            {% if public_display_flags.speaker_results %}
            <a class="dropdown-item {% active request public_speaker_rankings %}" href="{{ public_speaker_rankings|with_return_to }}">Public Speaker Results</a>
            {% endif %}
            {% if public_display_flags.ballots %}
            <a class="dropdown-item {% active request public_ballots %}" href="{{ public_ballots|with_return_to }}">Public Ballots</a>
            {% endif %}
            <a class="dropdown-item {% active request public_outround_varsity %}" href="{{ public_outround_varsity|with_return_to }}">Varsity Outrounds</a>
            <a class="dropdown-item {% active request public_outround_novice %}" href="{{ public_outround_novice|with_return_to }}">Novice Outrounds</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ logout|with_return_to }}">Logout</a>
        </li>
      </ul>
    </div>
    {% else %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto order-0">
        <li class="nav-item">
          <a class="nav-link {% active request public_pairings %}" href="{{ public_pairings|with_return_to }}">Released Pairings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active request public_missing_ballots %}" href="{{ public_missing_ballots|with_return_to }}">Missing Ballots</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active request public_eballot %}" href="{{ public_eballot|with_return_to }}">Submit E-Ballot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active request public_judges %}" href="{{ public_judges|with_return_to }}">Judge List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active request public_teams %}" href="{{ public_teams|with_return_to }}">Team List</a>
        </li>
        {% if public_display_flags.team_results %}
        <li class="nav-item">
          <a class="nav-link {% active request public_team_rankings %}" href="{{ public_team_rankings|with_return_to }}">Public Team Results</a>
        </li>
        {% endif %}
        {% if public_display_flags.speaker_results %}
        <li class="nav-item">
          <a class="nav-link {% active request public_speaker_rankings %}" href="{{ public_speaker_rankings|with_return_to }}">Public Speaker Results</a>
        </li>
        {% endif %}
        {% if public_display_flags.ballots %}
        <li class="nav-item">
          <a class="nav-link {% active request public_ballots %}" href="{{ public_ballots|with_return_to }}">Public Ballots</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% active request public_outround_varsity %}" href="{{ public_outround_varsity|with_return_to }}">Varsity Outrounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active request public_outround_novice %}" href="{{ public_outround_novice|with_return_to }}">Novice Outrounds</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto order-1">
        <li class="nav-item">
          <a class="nav-link {% active request staff_login %}" href="{{ staff_login|with_return_to }}">
            <i class="fas fa-sign-in-alt"></i> Staff Login
          </a>
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
</nav>
