{% load tags %}

{% url tab.views.index as home%}

{% url tab.views.enter_school as enter_school %}
{% url tab.views.view_schools as view_schools %}

{% url tab.views.enter_room as enter_room %}
{% url tab.views.view_rooms as view_rooms %}

{% url tab.judge_views.enter_judge as enter_judge %}
{% url tab.judge_views.view_judges as view_judges%}

{% url tab.team_views.enter_team as enter_team %}
{% url tab.team_views.view_teams as view_teams%}
{% url tab.team_views.rank_teams as rank_teams %}

{% url django.contrib.auth.views.logout as logout %}

{% url tab.debater_views.enter_debater as enter_debater %}
{% url tab.debater_views.view_debaters as view_debaters %}
{% url tab.debater_views.rank_debaters as rank_debaters %}

{% url tab.pairing_views.view_status as view_status %}
{% url tab.pairing_views.view_rounds as view_rounds %}
{% url tab.pairing_views.pair_round as pair_round %}
{% url tab.pairing_views.confirm_start_new_tourny as confirm_start_new_tourny %}
{% url tab.pairing_views.manual_backup as backup %}

<div id="nab_bar">
    <ul id="navlist">
        <li><a class="{% active request home %}" href="{{ home }}">Home</a></li>
        <li><a class="{% active request enter_school %}{% active request view_schools %}">Schools</a>
            <ul id="sublist">
                <li><a class="{% active request enter_school %}" href="{{ enter_school }}">Enter School</a></li>
                <li><a class="{% active request view_schools %}" href="{{ view_schools }}">View Schools</a></li>
            </ul>
        </li>
        <li><a class="{% active request enter_room %}{% active request view_rooms %}">Rooms</a>
            <ul id="sublist">
                <li><a class="{% active request enter_room %}" href="{{ enter_room }}">Enter Room</a></li>
                <li><a class="{% active request view_rooms %}" href="{{ view_rooms }}">View Rooms</a></li>
            </ul>
        </li>
        <li><a class="{% active request enter_judge %}{% active request view_judges %}">Judges</a>
            <ul id="sublist">
                <li><a class="{% active request enter_judge %}" href="{{ enter_judge }}">Enter Judge</a></li>
                <li><a class="{% active request view_judges %}" href="{{ view_judges }}">View Judges</a></li>
            </ul>
        </li>
        <li><a class="{% active request enter_debater %}{% active request view_debaters %}">Debaters</a>
                <ul id="sublist">
                    <li><a class="{% active request enter_debater %}" href="{{ enter_debater }}">Enter Debater</a></li>
                    <li><a class="{% active request view_debaters %}" href="{{ view_debaters }}">View Debaters</a></li>
               
                <li><a class="{% active request rank_debaters %}" href="{{ rank_debaters }}">Debater Ranking</a></li>
                </ul>
        </li>
        <li><a class="{% active request enter_team %}{% active request view_teams %}">Teams</a>
            <ul id="sublist">
                <li><a class="{% active request enter_team %}" href="{{ enter_team }}">Enter Team</a></li>
                <li><a class="{% active request view_teams %}" href="{{ view_teams }}">View Teams</a></li>
                <li><a class="{% active request rank_teams %}" href="{{ rank_teams }}">Team Ranking</a></li>
            
            </ul>
        </li>
        <li><a class="{% active request view_status %}{% active request view_rounds %}{% active request pair_round %}{% active request confirm_start_new_tourny %}{% active request backup %}">Pairing</a>
            <ul id = "sublist">
                <li><a class="{%active request view_status %}" href="{{ view_status }}">Current Status</a></li>
                <li><a class="{%active request view_rounds %}" href="{{ view_rounds }}">All Rounds</a></li>
                <li><a class="{%active request pair_round %}" href="{{ pair_round }}">Pair Round</a></li>
                <li><a class="{%active request confirm_start_new_tourny %}" href="{{ confirm_start_new_tourny }}">New Tournament</a></li>
                <li><a class="{%active request backup %}" href="{{ backup }}">Backup Database</a></li>
            </ul>
        </li>

	<li><a class="{% active request logout %}" href="{{ logout }}">Logout</a></li>
    </ul>
<br>
</div>
