{% extends "base.html" %}

{% block title %}Debater Rankings{% endblock %}

{% block banner %} {{title}} {% endblock %}

{% block content %}
<div class="float_container">
    <div class="left50">
        <table class="pretty full_width">
            <tr>
                <td colspan=5> Varsity Team Ranking </td>
            </tr>
            <tr>
                <th>#</th><th>Team Name</th><th>Speaks</th><th>Ranks</th><th>Wins</th>
            </tr>    
            {% for team,speaks,ranks,wins in varsity %}
            <tr>
                <td> {{forloop.counter}} </td>
                <td> <a href="/team/{{team.id}}">{{team.name}}</a></td>
                <td> {{speaks|floatformat:2}}</td>
                <td> {{ranks|floatformat:2}}</td>
                <td> {{wins}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="right50">
        <table class="pretty full_width">
            <tr>
                <td colspan=5>Novice Team Ranking</td> 
            </tr>
            <tr>
                <th>#</th><th>Team Name</th><th>Speaks</th><th>Ranks</th><th>Wins</th>
            </tr>    
            {% for team,speaks,ranks,wins in novice %}
            <tr>
                <td> {{forloop.counter}} </td>
                <td> <a href="/team/{{team.id}}">{{team.name}}</a></td>
                <td> {{speaks|floatformat:2}}</td>
                <td> {{ranks|floatformat:2}}</td>
                <td> {{wins}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}
