
{% load tags %}

{% csrf_token %}

<div class="col">


  <table class="table table-striped table-bordered table-sm">
    <thead>
      <th></th>
      <th>School</th>
      <th>Judge</th>
      <th class="round-header">
        <span class="full-text">Outrounds</span>
        <span class="short-text">Outs</span>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input bulk-judge-col-toggle bulk-toggle" 
                 data-entity-type="judge" data-toggle-scope="column"
                 data-round="0" id="bulk-judge-col-toggle-0">
          <label class="custom-control-label" for="bulk-judge-col-toggle-0"></label>
        </div>
      </th>
      {% for round_number in round_numbers %}
      <th class="round-header">
        <span class="full-text">Round {{ round_number }}</span>
        <span class="short-text">R{{ round_number }}</span>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input bulk-judge-col-toggle bulk-toggle" 
                 data-entity-type="judge" data-toggle-scope="column"
                 data-round="{{ round_number }}" id="bulk-judge-col-toggle-{{ round_number }}">
          <label class="custom-control-label" for="bulk-judge-col-toggle-{{ round_number }}"></label>
        </div>
      </th>
      {% endfor %}
    </thead>
    {% for schools, judge, checkins in judges_and_checkins %}
    <tr class="searchable">
      <td>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input bulk-judge-row-toggle bulk-toggle" 
                 data-entity-type="judge" data-toggle-scope="row"
                 data-judge-id="{{judge.id}}" data-entity-id="{{judge.id}}"
                 id="bulk-judge-row-{{ forloop.counter0 }}">
          <label class="custom-control-label" for="bulk-judge-row-{{ forloop.counter0 }}"></label>
        </div>
      </td>
      <td>
        {% for school in schools %}
              <a href="/school/{{school.id}}">{{ school.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>
        <a href="/judge/{{judge.id}}">{{ judge.name }}</a>
      </td>
      {% for is_checked_in in checkins %}
      <td>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input judge-checkin-toggle checkin-toggle"
                 data-entity-type="judge"
                 data-judge-id="{{judge.id}}"
                 data-entity-id="{{judge.id}}"
                 data-round-number="{{forloop.counter0}}"
                 id="toggle-judge-{{ judge.id }}-{{ forloop.counter0 }}"
                 {% if is_checked_in %}checked{% endif %}>
          <label class="custom-control-label checkin-label" for="toggle-judge-{{ judge.id }}-{{ forloop.counter0 }}">
            Checked {% if is_checked_in %}In{% else %}Out{% endif %}
          </label>
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>




