
{% load tags %}

{% csrf_token %}

<div class="col">


  <table class="table table-striped table-bordered table-sm">
    <thead>
      <th>School</th>
      <th>Judge</th>
      <th>Outrounds</th>
 
      {% for round_number in round_numbers %}<th>Round {{ round_number }}</th>{% endfor %}
    </thead>
    {% for schools, judge, checkins in judges_and_checkins %}
    <tr class="searchable">
      <td>
        {% for school in schools %}
              <a href="/school/{{school.id}}">{{ school.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>
        <a href="/judge/{{judge.id}}">{{ judge.name }}</a>
      </td>
      {% for is_checked_in in checkins %}
      <td>
        <div class="custom-control custom-switch">
          <input type="checkbox" class="custom-control-input judge-checkin-toggle"
                 data-judge-id="{{judge.id}}"
                 data-round-number="{{forloop.counter0}}"
                 id="toggle-{{ judge.id }}-{{ forloop.counter0 }}"
                 {% if is_checked_in %}checked{% endif %}>
          <label class="custom-control-label" for="toggle-{{ judge.id }}-{{ forloop.counter0 }}">
            Checked {% if is_checked_in %}In{% else %}Out{% endif %}
          </label>
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>





