{% load tags %}

{% csrf_token %}

<div class="col">
  

  <table class="table table-striped table-bordered table-sm">
    <thead>
      <th>School</th>
      <th>Team</th>
      <th>Debater Names</th>
      <th>Checked In?</th>
	
    </thead>
    {% for school, team, debaters, checked_in in teams_and_checkins %}
    <tr class="searchable">
      <td>
        <a href="/school/{{school.id}}">{{ school }}</a>
      </td>
      <td>
        <a href="/team/{{team.id}}">{{ team.name }}</a>
      </td>
      <td>
        {% for debater in debaters %}
          {{ debater.name }}{% if not forloop.last %} and {% endif %}
        {% endfor %}
      <td>
        <div class="form-check form-switch">
          <input type="checkbox" class="form-check-input team-checkin-toggle"
                 data-team-id="{{team.id}}"
                 id="toggle-team-{{ team.id }}-{{ forloop.counter0 }}"
                 {% if checked_in %}checked{% endif %}>
          <label class="form-check-label" for="toggle-team-{{ team.id }}-{{ forloop.counter0 }}">
            Checked {% if checked_in %}In{% else %}Out{% endif %}
          </label>
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
