{% extends "base/__normal.html" %}
{% load tags %}

{% block title %}Room Check-In{% endblock %}
{% block banner %}Batch Room Check-In{% endblock %}

{% block content %}
<div class="container mt-4">
    <label for="categorySelect" class="form-label">Select Category:</label>
    <select id="categorySelect" class="form-select">
        <option value="team">Team</option>
        <option value="judge">Judge</option>
        <option value="room">Room</option>
    </select>

    <div id="contentContainer" class="mt-3">
        
    </div>
</div>


{% endblock %}
