{% extends "base/__normal.html" %}


{% block extra_head %}
    {% load render_bundle from webpack_loader %}
    {% render_bundle 'batchCheckin' %}
{% endblock extra_head %}

{% load tags %}

{% block title %}Check-In{% endblock %}
{% block banner %}Batch Check-In{% endblock %}

{% block content %}

<div class="container mt-2">
        <div class="mb-4">
            {% quick_search %}
            <ul class="nav nav-tabs mb-3" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="team-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="true">Team</a>
                        </li>
                        <li class="nav-item" role="presentation">
                           <a class="nav-link" id="judge-tab" data-toggle="tab" href="#judge" role="tab" aria-controls="judge" aria-selected="false">Judge</a>
                       </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="room-tab" data-toggle="tab" href="#room" role="tab" aria-controls="room" aria-selected="false">Room</a>
                        </li>
                    </ul>
                
                    <div class="tab-content">
                    <div class="tab-pane fade show active" id="team" role="tabpanel" data-entity-type="team" aria-labelledby="team-tab">
                           {% include "batch_check_in/_checkin_pane.html" with entity_type='team' data=team_data headers=team_headers checked_total=team_total_count checked_in_count=team_checked_in_count %}
                       </div>
                  <div class="tab-pane fade" id="judge" role="tabpanel" data-entity-type="judge" aria-labelledby="judge-tab">
                           {% include "batch_check_in/_checkin_pane.html" with entity_type='judge' data=judge_data headers=judge_headers checked_total=judge_total_count round_counts=judge_round_counts outround_count=judge_outround_count %}
                   </div>
                       <div class="tab-pane fade" id="room" role="tabpanel" data-entity-type="room" aria-labelledby="room-tab">
                            {% include "batch_check_in/_checkin_pane.html" with entity_type='room' data=room_data headers=room_headers checked_total=room_total_count round_counts=room_round_counts outround_count=room_outround_count %}
                        </div>

                        {% endblock %}
